In [277]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sbn
from datetime import datetime
import requests
import json
from pandas.io.json import json_normalize

In [278]:
url = 'https://smartedmts.s20.online/'
url_login = url + 'v2api/auth/login'

email = 'yvsmirn5@mts.ru'
api_key = '7e34d4aa-46b6-11ea-8453-0cc47ae3c526'

In [279]:
data = {'email': email, 'api_key': api_key}

In [280]:
response = requests.post(url_login, json = data)

In [281]:
response

In [282]:
json_response = response.json()

In [283]:
json_response['token']

'9942b6ccbc6ca5e55245c0483a74c989'

In [284]:
headers = {'X-ALFACRM-TOKEN': json_response['token']}

In [285]:
response = requests.post(url + 'v2api/branch/index', headers = headers, data = {"is_active":1,"page":0})

In [286]:
response

In [287]:
response.json()

{'total': 4,
 'count': 4,
 'page': 0,
 'items': [{'id': 3,
   'name': 'Продажи SmartU',
   'subject_ids': [1, 2, 3],
   'is_active': 1,
   'weight': 1},
  {'id': 4,
   'name': 'Сопровождение SmartU',
   'subject_ids': [1, 2, 3],
   'is_active': 1,
   'weight': 2},
  {'id': 5,
   'name': 'Сопровождение',
   'subject_ids': [1],
   'is_active': 0,
   'weight': 3},
  {'id': 2,
   'name': 'test - smartedmts',
   'subject_ids': [1],
   'is_active': 0,
   'weight': 4}]}

In [288]:
response = requests.post(url + 'v2api/4/customer/index', headers = headers, data = {"lead_status_id":1,"page":0})

In [289]:
json_response = response.json()

In [290]:
data = json_normalize(json_response['items'])

In [291]:
json_response

{'total': 738,
 'count': 20,
 'page': 0,
 'items': [{'id': 37843,
   'branch_ids': [3, 4],
   'teacher_ids': [],
   'name': '- Елена',
   'color': None,
   'is_study': 1,
   'study_status_id': 1,
   'lead_status_id': 16,
   'lead_reject_id': None,
   'lead_source_id': 20,
   'assigned_id': None,
   'legal_type': 1,
   'legal_name': '- Елена',
   'company_id': None,
   'dob': '',
   'balance': '2495.00',
   'paid_lesson_count': 5,
   'next_lesson_date': '2020-02-22 13:00:00',
   'paid_lesson_date': '2021-02-19 00:00:00',
   'last_attend_date': '2020-02-19',
   'b_date': '2020-02-19 10:04:35',
   'e_date': '2030-12-31',
   'note': 'Москва\r\nСКИДКА 50%, ПРОМО-КОД: EBBAA1',
   'phone': ['+7(916)652-75-03'],
   'email': ['9166527503@mail.ru'],
   'web': [],
   'addr': [],
   'custom_close_date': '',
   'custom_closelostreason': '',
   'custom_text_one': '9166527503',
   'custom_vozrast': '',
   'custom_user_id': '38155',
   'custom_timezone': '3',
   'custom_dataregistrplatform': '19.02.2020',
   'custom_firstlesson': '',
   'custom_educationprogramme': '',
   'custom_device': '',
   'custom_utm_source': '',
   'custom_utm_medium': '',
   'custom_utm_campaign': '',
   'custom_utm_term': '',
   'custom_utm_content': ''},
  {'id': 37201,
   'branch_ids': [3, 4],
   'teacher_ids': [],
   'name': '- Инна',
   'color': None,
   'is_study': 1,
   'study_status_id': 3,
   'lead_status_id': 8,
   'lead_reject_id': 13,
   'lead_source_id': 20,
   'assigned_id': 133,
   'legal_type': 1,
   'legal_name': 'Сухорецкая Инна',
   'company_id': None,
   'dob': '',
   'balance': '16140.50',
   'paid_lesson_count': 19,
   'next_lesson_date': '2020-02-20 13:00:00',
   'paid_lesson_date': '2020-04-23 13:00:00',
   'last_attend_date': '2020-02-17',
   'b_date': '2020-02-03 17:30:41',
   'e_date': '2030-12-31',
   'note': 'Москва\r\nуровень - есть база, но какой точно уровень не знает. цель - для просмотра фильмов\r\nрассрочка - первый платеж-16.990,затем три месяца по 12.400\r\nученице лучше звонить после 11-12',
   'phone': ['+7(915)196-17-14'],
   'email': ['i.sukhoretskya@gmail.com'],
   'web': [],
   'addr': [],
   'custom_close_date': '17.05.2020',
   'custom_closelostreason': '',
   'custom_text_one': '9151961714',
   'custom_vozrast': 'взрослый',
   'custom_user_id': '37492',
   'custom_timezone': '3',
   'custom_dataregistrplatform': '03.02.2020',
   'custom_firstlesson': '17.02.2020',
   'custom_educationprogramme': ['Общий английский для взрослых'],
   'custom_device': 'Смартфон, Ios',
   'custom_utm_source': '',
   'custom_utm_medium': '',
   'custom_utm_campaign': '',
   'custom_utm_term': '',
   'custom_utm_content': ''},
  {'id': 37637,
   'branch_ids': [3, 4],
   'teacher_ids': [],
   'name': '- Мария',
   'color': None,
   'is_study': 1,
   'study_status_id': 1,
   'lead_status_id': 13,
   'lead_reject_id': None,
   'lead_source_id': 1,
   'assigned_id': None,
   'legal_type': 1,
   'legal_name': '- Мария',
   'company_id': None,
   'dob': '',
   'balance': '4990.00',
   'paid_lesson_count': 5,
   'next_lesson_date': '2020-02-24 19:00:00',
   'paid_lesson_date': '2020-03-09 19:00:00',
   'last_attend_date': '2020-02-18',
   'b_date': '2020-02-13 11:05:34',
   'e_date': '2030-12-31',
   'note': 'Москва\r\nДля ОГЭ \r\nУровень оценка 3-4\r\nУже занимается дочь  Анна\r\nЗвонить только на номер мамы Евгении, мама очень требовательная.',
   'phone': ['+7(916)971-30-44', '+7(916)607-54-03'],
   'email': ['marisot21@icloud.com'],
   'web': [],
   'addr': [],
   'custom_close_date': '',
   'custom_closelostreason': '',
   'custom_text_one': '9169713044',
   'custom_vozrast': 'ребенок 8 класс',
   'custom_user_id': '37944',
   'custom_timezone': '3',
   'custom_dataregistrplatform': '13.02.2020',
   'custom_firstlesson': '',
   'custom_educationprogramme': ['Русский ОГЭ 2 уровень'],
   'custom_device': 'Смартфон, iOS',
   'custom_utm_source': '',
   'custom_utm_medium': '',
   'custom_utm_campaign': '',
   'custom_utm_term': '',
   'custom_utm_content': ''},
  {'id': 37531,
   'branch_ids': [3, 4],
   'teacher_ids': [],
   'name': '--- Надежда',
   'color': None,
   'is_study': 1,
   'study_status_id': 1,
   'lead_status_id': 8,
   'lead_reject_id': None,
   'lead_source_id': 20,
   'assigned_id': None,
   'legal_type': 1,
   'legal_name': '--- Надежда',
   'company_id': None,
   'dob': '',
   'balance': '2495.00',
   'paid_lesson_count': 5,
   'next_lesson_date': '2020-03-02 21:00:00',
   'paid_lesson_date': '2021-02-13 00:00:00',
   'last_attend_date': '2020-02-13',
   'b_date': '2020-02-10 16:48:22',
   'e_date': '2030-12-31',
   'note': 'Москва\r\nУровень-0 Цель- путешествия\r\nСКИДКА 50%, промокод 91DGAC',
   'phone': ['+7(915)421-86-33'],
   'email': ['89154218633@mail.ru'],
   'web': [],
   'addr': [],
   'custom_close_date': '',
   'custom_closelostreason': '',
   'custom_text_one': '9154218633',
   'custom_vozrast': 'взрослый',
   'custom_user_id': '37827',
   'custom_timezone': '3',
   'custom_dataregistrplatform': '10.02.2020',
   'custom_firstlesson': '02.03.2020',
   'custom_educationprogramme': ['Общий английский для взрослых'],
   'custom_device': 'ПК',
   'custom_utm_source': '',
   'custom_utm_medium': '',
   'custom_utm_campaign': '',
   'custom_utm_term': '',
   'custom_utm_content': ''},
  {'id': 36145,
   'branch_ids': [3, 4],
   'teacher_ids': [],
   'name': '(Хренкова) Ракитина Юлия',
   'color': None,
   'is_study': 1,
   'study_status_id': 3,
   'lead_status_id': 7,
   'lead_reject_id': None,
   'lead_source_id': 14,
   'assigned_id': 133,
   'legal_type': 1,
   'legal_name': 'Ракитина Юлия',
   'company_id': None,
   'dob': '',
   'balance': '998.00',
   'paid_lesson_count': 1,
   'next_lesson_date': '2020-02-25 10:00:00',
   'paid_lesson_date': '2020-02-25 10:00:00',
   'last_attend_date': '2020-02-11',
   'b_date': '2020-01-13 11:45:45',
   'e_date': '2030-12-31',
   'note': 'Москва\r\nРазговорный уровень есть, хочет его поддерживать',
   'phone': ['+7(915)412-89-75'],
   'email': ['grakitina@gmail.com'],
   'web': [],
   'addr': [],
   'custom_close_date': '24.04.2020',
   'custom_closelostreason': '',
   'custom_text_one': '9154128975',
   'custom_vozrast': 'взрослый',
   'custom_user_id': '36344',
   'custom_timezone': '3',
   'custom_dataregistrplatform': '13.01.2020',
   'custom_firstlesson': '24.01.2020',
   'custom_educationprogramme': '',
   'custom_device': 'Ноутбук',
   'custom_utm_source': '',
   'custom_utm_medium': '',
   'custom_utm_campaign': '',
   'custom_utm_term': '',
   'custom_utm_content': ''},
  {'id': 35559,
   'branch_ids': [3, 4],
   'teacher_ids': [],
   'name': 'Dyakonov Denis/ Дьяконов Денис',
   'color': None,
   'is_study': 1,
   'study_status_id': 5,
   'lead_status_id': 12,
   'lead_reject_id': 5,
   'lead_source_id': 16,
   'assigned_id': 160,
   'legal_type': 1,
   'legal_name': 'Dyakonov Denis',
   'company_id': None,
   'dob': '',
   'balance': '0.00',
   'paid_lesson_count': 0,
   'next_lesson_date': None,
   'paid_lesson_date': '2020-02-12 00:00:00',
   'last_attend_date': '2020-02-12',
   'b_date': '2019-12-24 17:07:49',
   'e_date': '2030-12-31',
   'note': 'Москва/ Сотрудник МТС\r\nуровень- средний,для работы',
   'phone': ['+7(985)290-00-90'],
   'email': ['denis.diakonov@gmail.com', 'dvdyakon@mts.ru'],
   'web': [],
   'addr': [],
   'custom_close_date': '13.03.2020',
   'custom_closelostreason': '',
   'custom_text_one': '9852900090',
   'custom_vozrast': 'взрослый',
   'custom_user_id': '35744',
   'custom_timezone': '3',
   'custom_dataregistrplatform': '24.12.2019',
   'custom_firstlesson': '13.01.2020',
   'custom_educationprogramme': ['Общий английский для взрослых'],
   'custom_device': 'ПК',
   'custom_utm_source': '',
   'custom_utm_medium': '',
   'custom_utm_campaign': '',
   'custom_utm_term': '',
   'custom_utm_content': ''},
  {'id': 18130,
   'branch_ids': [3, 4],
   'teacher_ids': [],
   'name': 'Kokorina Tatiana / Кокорина Татьяна',
   'color': None,
   'is_study': 1,
   'study_status_id': 4,
   'lead_status_id': 8,
   'lead_reject_id': None,
   'lead_source_id': 16,
   'assigned_id': 133,
   'legal_type': 1,
   'legal_name': 'МТС',
   'company_id': None,
   'dob': '',
   'balance': '-6919.04',
   'paid_lesson_count': -12,
   'next_lesson_date': None,
   'paid_lesson_date': '2019-09-09 00:00:00',
   'last_attend_date': '2019-10-16',
   'b_date': '2019-05-21 16:04:11',
   'e_date': '2030-12-31',
   'note': 'СОТРУДНИК МТС\r\n14.01 сделан запрос Олесе М. - отображается остаток - 11 уроков, как быть с этим',
   'phone': ['+7(915)420-24-68'],
   'email': ['tikokori@mts.ru'],
   'web': [],
   'addr': [],
   'custom_close_date': '28.08.2019',
   'custom_closelostreason': '',
   'custom_text_one': '',
   'custom_vozrast': 'взрослый',
   'custom_user_id': '18191',
   'custom_timezone': '3',
   'custom_dataregistrplatform': '21.05.2019',
   'custom_firstlesson': '29.05.2019',
   'custom_educationprogramme': ['Деловой английский'],
   'custom_device': 'ios',
   'custom_utm_source': None,
   'custom_utm_medium': None,
   'custom_utm_campaign': None,
   'custom_utm_term': None,
   'custom_utm_content': None},
  {'id': 35570,
   'branch_ids': [3, 4],
   'teacher_ids': [],
   'name': 'Kuznetsova Daria / Кузнецова Дарья',
   'color': None,
   'is_study': 1,
   'study_status_id': 3,
   'lead_status_id': 13,
   'lead_reject_id': None,
   'lead_source_id': 18,
   'assigned_id': 133,
   'legal_type': 1,
   'legal_name': 'null null',
   'company_id': None,
   'dob': '',
   'balance': '7992.00',
   'paid_lesson_count': 8,
   'next_lesson_date': '2020-02-22 11:00:00',
   'paid_lesson_date': '2020-04-18 11:00:00',
   'last_attend_date': '2020-02-15',
   'b_date': '2019-12-24 18:46:36',
   'e_date': '2030-12-31',
   'note': 'Москва\r\nИзучать для работы, путешествий\r\nТекущий уровень А2+-В1',
   'phone': ['+7(915)134-92-00'],
   'email': ['Не известно'],
   'web': [],
   'addr': [],
   'custom_close_date': '28.03.2020',
   'custom_closelostreason': '',
   'custom_text_one': '9151349200',
   'custom_vozrast': 'взрослый',
   'custom_user_id': '35755',
   'custom_timezone': '3',
   'custom_dataregistrplatform': '24.12.2019',
   'custom_firstlesson': '28.12.2019',
   'custom_educationprogramme': '',
   'custom_device': 'приложение ios',
   'custom_utm_source': None,
   'custom_utm_medium': None,
   'custom_utm_campaign': None,
   'custom_utm_term': None,
   'custom_utm_content': None},
  {'id': 12593,
   'branch_ids': [3, 4],
   'teacher_ids': [],
   'name': 'Shamshev Stanislav/Станислав Шамшев',
   'color': '#ea394c',
   'is_study': 1,
   'study_status_id': 2,
   'lead_status_id': 12,
   'lead_reject_id': None,
   'lead_source_id': 5,
   'assigned_id': None,
   'legal_type': 1,
   'legal_name': 'Shamshev Stanislav',
   'company_id': None,
   'dob': '',
   'balance': '0.00',
   'paid_lesson_count': 0,
   'next_lesson_date': None,
   'paid_lesson_date': '2019-07-08 00:00:00',
   'last_attend_date': '2019-06-18',
   'b_date': '2019-04-05 13:44:49',
   'e_date': '2030-12-31',
   'note': 'Санкт-Петербург',
   'phone': ['+7(962)714-15-18'],
   'email': ['bogabi@mail.ru', 'stanislavsamshev@gmail.ru'],
   'web': [],
   'addr': [],
   'custom_close_date': '13.09.2019',
   'custom_closelostreason': None,
   'custom_text_one': None,
   'custom_vozrast': 'взрослый',
   'custom_user_id': '12638',
   'custom_timezone': '3',
   'custom_dataregistrplatform': '05.04.2019',
   'custom_firstlesson': '13.06.2019',
   'custom_educationprogramme': ['Общий английский для взрослых'],
   'custom_device': 'Ноутбук',
   'custom_utm_source': None,
   'custom_utm_medium': None,
   'custom_utm_campaign': None,
   'custom_utm_term': None,
   'custom_utm_content': None},
  {'id': 9155,
   'branch_ids': [3, 4],
   'teacher_ids': [],
   'name': 'Абдурахманов Бахтияр',
   'color': '#ea394c',
   'is_study': 1,
   'study_status_id': 2,
   'lead_status_id': 13,
   'lead_reject_id': None,
   'lead_source_id': 5,
   'assigned_id': None,
   'legal_type': 1,
   'legal_name': 'Бахтияр Абдурахманов',
   'company_id': None,
   'dob': '',
   'balance': '2854.40',
   'paid_lesson_count': 6,
   'next_lesson_date': None,
   'paid_lesson_date': None,
   'last_attend_date': '2019-01-26',
   'b_date': '2019-01-12 22:18:55',
   'e_date': '2030-12-31',
   'note': 'Ханты-Мансийский АО +2\r\nУченик на звонки и сообщения не отвечает, программа была удалена, осталось не пройдено 6 уроков.\r\nДата рег.: Sat Jan 12 2019 19:17:14 GMT+0000 (UTC), Час.пояс: 5',
   'phone': ['+7(922)422-27-57'],
   'email': ['abakha@list.ru'],
   'web': [],
   'addr': [],
   'custom_close_date': None,
   'custom_closelostreason': None,
   'custom_text_one': None,
   'custom_vozrast': 'взрослый',
   'custom_user_id': '9187',
   'custom_timezone': '5',
   'custom_dataregistrplatform': '12.01.2019',
   'custom_firstlesson': '23.01.2019',
   'custom_educationprogramme': ['Английский ЕГЭ'],
   'custom_device': '',
   'custom_utm_source': None,
   'custom_utm_medium': None,
   'custom_utm_campaign': None,
   'custom_utm_term': None,
   'custom_utm_content': None},
  {'id': 1055,
   'branch_ids': [3, 4],
   'teacher_ids': [],
   'name': 'Абинов Абдул',
   'color': '#ea394c',
   'is_study': 1,
   'study_status_id': 2,
   'lead_status_id': 12,
   'lead_reject_id': None,
   'lead_source_id': None,
   'assigned_id': None,
   'legal_type': 1,
   'legal_name': 'Абдул Абинов',
   'company_id': None,
   'dob': '',
   'balance': '0.00',
   'paid_lesson_count': 0,
   'next_lesson_date': None,
   'paid_lesson_date': '2019-03-06 00:00:00',
   'last_attend_date': '2019-01-30',
   'b_date': '2018-10-19 16:49:07',
   'e_date': '2030-12-31',
   'note': 'Ученик не отвечал на звонки и сообщения, слоты освобождены\r\nМосква\r\nДата рег.: Fri Oct 19 2018 13:34:31 GMT+0300 (MSK), Час.пояс: 3',
   'phone': ['+7(977)832-88-27'],
   'email': ['abinov_93@mail.ru'],
   'web': [],
   'addr': [],
   'custom_close_date': None,
   'custom_closelostreason': None,
   'custom_text_one': None,
   'custom_vozrast': 'ребенок 11 класс',
   'custom_user_id': '1081',
   'custom_timezone': '3',
   'custom_dataregistrplatform': '19.10.2018',
   'custom_firstlesson': '12.11.2018',
   'custom_educationprogramme': ['Английский ЕГЭ'],
   'custom_device': '',
   'custom_utm_source': None,
   'custom_utm_medium': None,
   'custom_utm_campaign': None,
   'custom_utm_term': None,
   'custom_utm_content': None},
  {'id': 18144,
   'branch_ids': [3, 4],
   'teacher_ids': [],
   'name': 'Абрамов Алексей',
   'color': None,
   'is_study': 1,
   'study_status_id': 4,
   'lead_status_id': 8,
   'lead_reject_id': None,
   'lead_source_id': 16,
   'assigned_id': 133,
   'legal_type': 1,
   'legal_name': 'МТС',
   'company_id': None,
   'dob': '',
   'balance': '4720.04',
   'paid_lesson_count': 8,
   'next_lesson_date': None,
   'paid_lesson_date': None,
   'last_attend_date': '2019-09-09',
   'b_date': '2019-05-21 16:25:34',
   'e_date': '2030-12-31',
   'note': 'СОТРУДНИК МТС',
   'phone': ['+7(905)753-56-43'],
   'email': ['anabramo@mts.ru'],
   'web': [],
   'addr': [],
   'custom_close_date': '27.09.2019',
   'custom_closelostreason': '',
   'custom_text_one': '',
   'custom_vozrast': 'взрослый',
   'custom_user_id': '18205',
   'custom_timezone': '3',
   'custom_dataregistrplatform': '21.05.2019',
   'custom_firstlesson': '27.06.2019',
   'custom_educationprogramme': ['Общий английский для взрослых'],
   'custom_device': 'Ноутбук',
   'custom_utm_source': '',
   'custom_utm_medium': '',
   'custom_utm_campaign': '',
   'custom_utm_term': '',
   'custom_utm_content': ''},
  {'id': 36675,
   'branch_ids': [3, 4],
   'teacher_ids': [],
   'name': 'Абрамов Павел',
   'color': None,
   'is_study': 1,
   'study_status_id': 3,
   'lead_status_id': 8,
   'lead_reject_id': None,
   'lead_source_id': 20,
   'assigned_id': 133,
   'legal_type': 1,
   'legal_name': '- Павел',
   'company_id': None,
   'dob': '',
   'balance': '1663.36',
   'paid_lesson_count': 2,
   'next_lesson_date': '2020-02-23 12:00:00',
   'paid_lesson_date': '2020-02-25 20:00:00',
   'last_attend_date': '2020-02-18',
   'b_date': '2020-01-22 10:06:42',
   'e_date': '2030-12-31',
   'note': 'находится в часовом поясе мск\r\nТекущий уровень В1, язык нужен для самообразования.',
   'phone': ['+7(982)562-26-91'],
   'email': ['9825622691@mail.ru'],
   'web': [],
   'addr': [],
   'custom_close_date': '02.05.2020',
   'custom_closelostreason': '',
   'custom_text_one': '9825622691',
   'custom_vozrast': 'взрослый',
   'custom_user_id': '36912',
   'custom_timezone': '3',
   'custom_dataregistrplatform': '22.01.2020',
   'custom_firstlesson': '02.02.2020',
   'custom_educationprogramme': ['Общий английский для взрослых'],
   'custom_device': 'Android',
   'custom_utm_source': '',
   'custom_utm_medium': '',
   'custom_utm_campaign': '',
   'custom_utm_term': '',
   'custom_utm_content': ''},
  {'id': 11636,
   'branch_ids': [3, 4],
   'teacher_ids': [],
   'name': 'Абрамова Екатерина/Abramova Ekaterina',
   'color': None,
   'is_study': 1,
   'study_status_id': 4,
   'lead_status_id': 8,
   'lead_reject_id': None,
   'lead_source_id': 4,
   'assigned_id': None,
   'legal_type': 1,
   'legal_name': 'Abramova Ekaterina',
   'company_id': None,
   'dob': '',
   'balance': '-668.92',
   'paid_lesson_count': -1,
   'next_lesson_date': None,
   'paid_lesson_date': '2019-09-30 00:00:00',
   'last_attend_date': '2019-09-30',
   'b_date': '2019-03-21 22:22:47',
   'e_date': '2030-12-31',
   'note': 'Волгоградская область\r\nРекомендовано проходить занятия с режима инкогнито',
   'phone': ['+7(917)333-85-56'],
   'email': ['rukovoditel@avto-color34.ru'],
   'web': [],
   'addr': [],
   'custom_close_date': '30.09.2019',
   'custom_closelostreason': '',
   'custom_text_one': '9173338556',
   'custom_vozrast': 'взрослый',
   'custom_user_id': '11682',
   'custom_timezone': '4',
   'custom_dataregistrplatform': '21.03.2019',
   'custom_firstlesson': '09.04.2019',
   'custom_educationprogramme': ['Общий английский для взрослых'],
   'custom_device': 'ПК, windows',
   'custom_utm_source': None,
   'custom_utm_medium': None,
   'custom_utm_campaign': None,
   'custom_utm_term': None,
   'custom_utm_content': None},
  {'id': 15207,
   'branch_ids': [3, 4],
   'teacher_ids': [],
   'name': 'Абуезидова Эсила',
   'color': '#00aa00',
   'is_study': 1,
   'study_status_id': 5,
   'lead_status_id': 13,
   'lead_reject_id': None,
   'lead_source_id': 2,
   'assigned_id': None,
   'legal_type': 1,
   'legal_name': 'Абуезидова Эсила',
   'company_id': None,
   'dob': '',
   'balance': '27221.72',
   'paid_lesson_count': 59,
   'next_lesson_date': None,
   'paid_lesson_date': None,
   'last_attend_date': '2019-07-01',
   'b_date': '2019-05-06 14:23:43',
   'e_date': '2030-12-31',
   'note': 'Чеченская Республика\r\nУченица заранее проинформировала, что у них часто бывают перебои с электричеством, из-за чего может заранее не предупредить о переносе урока.',
   'phone': ['+7(938)001-94-64'],
   'email': ['nice.esila@mail.ru'],
   'web': [],
   'addr': [],
   'custom_close_date': None,
   'custom_closelostreason': None,
   'custom_text_one': None,
   'custom_vozrast': 'взрослый',
   'custom_user_id': '15264',
   'custom_timezone': '3',
   'custom_dataregistrplatform': '06.05.2019',
   'custom_firstlesson': '13.05.2019',
   'custom_educationprogramme': ['Общий английский для взрослых'],
   'custom_device': 'МП android/ ПК coogle',
   'custom_utm_source': None,
   'custom_utm_medium': None,
   'custom_utm_campaign': None,
   'custom_utm_term': None,
   'custom_utm_content': None},
  {'id': 37130,
   'branch_ids': [3, 4],
   'teacher_ids': [],
   'name': 'Абухова  Мария',
   'color': None,
   'is_study': 1,
   'study_status_id': 3,
   'lead_status_id': 8,
   'lead_reject_id': None,
   'lead_source_id': 20,
   'assigned_id': 160,
   'legal_type': 1,
   'legal_name': 'Абухова  Мария',
   'company_id': None,
   'dob': '',
   'balance': '2495.02',
   'paid_lesson_count': 3,

In [292]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 42 columns):
addr                          20 non-null object
assigned_id                   11 non-null float64
b_date                        20 non-null object
balance                       20 non-null object
branch_ids                    20 non-null object
color                         5 non-null object
company_id                    0 non-null object
custom_close_date             16 non-null object
custom_closelostreason        14 non-null object
custom_dataregistrplatform    20 non-null object
custom_device                 20 non-null object
custom_educationprogramme     20 non-null object
custom_firstlesson            20 non-null object
custom_text_one               14 non-null object
custom_timezone               20 non-null object
custom_user_id                20 non-null object
custom_utm_campaign           11 non-null object
custom_utm_content            11 non-null object
custom_utm_medium             11 non-null object
custom_utm_source             11 non-null object
custom_utm_term               11 non-null object
custom_vozrast                20 non-null object
dob                           20 non-null object
e_date                        20 non-null object
email                         20 non-null object
id                            20 non-null int64
is_study                      20 non-null int64
last_attend_date              20 non-null object
lead_reject_id                2 non-null float64
lead_source_id                19 non-null float64
lead_status_id                20 non-null int64
legal_name                    20 non-null object
legal_type                    20 non-null int64
name                          20 non-null object
next_lesson_date              10 non-null object
note                          20 non-null object
paid_lesson_count             20 non-null int64
paid_lesson_date              15 non-null object
phone                         20 non-null object
study_status_id               20 non-null int64
teacher_ids                   20 non-null object
web                           20 non-null object
dtypes: float64(3), int64(6), object(33)
memory usage: 6.6+ KB

In [293]:
# 4 = Сопровождение, 3 = Продажи
branch = 4

In [294]:
response = requests.post(url + 'v2api/{}/lesson/index'.format(branch), headers = headers, json = {'count': 100, 'page': 2})
json_response = response.json()
data = json_normalize(json_response['items'])

In [295]:
json_response

{'total': 16686,
 'count': 20,
 'page': 2,
 'items': [{'id': 40729,
   'branch_id': 4,
   'date': '2020-02-20',
   'time_from': '2020-02-20 13:00:01',
   'time_to': '2020-02-20 14:00:00',
   'lesson_type_id': 1,
   'status': 3,
   'subject_id': 1,
   'room_id': None,
   'teacher_ids': [370],
   'customer_ids': [29521],
   'group_ids': [],
   'note': '',
   'topic': '',
   'details': [{'id': 26504,
     'branch_id': 4,
     'customer_id': 29521,
     'lesson_id': 40729,
     'ctt_id': None,
     'reason_id': None,
     'is_attend': 1,
     'commission': '849.50',
     'grade': '',
     'bonus': None,
     'note': ''}]},
  {'id': 40728,
   'branch_id': 4,
   'date': '2020-02-20',
   'time_from': '2020-02-20 13:00:01',
   'time_to': '2020-02-20 14:00:00',
   'lesson_type_id': 1,
   'status': 3,
   'subject_id': 1,
   'room_id': None,
   'teacher_ids': [84],
   'customer_ids': [37201],
   'group_ids': [],
   'note': '',
   'topic': '',
   'details': [{'id': 26503,
     'branch_id': 4,
     'customer_id': 37201,
     'lesson_id': 40728,
     'ctt_id': None,
     'reason_id': None,
     'is_attend': 1,
     'commission': '849.50',
     'grade': '',
     'bonus': None,
     'note': ''}]},
  {'id': 40727,
   'branch_id': 4,
   'date': '2020-02-20',
   'time_from': '2020-02-20 12:00:01',
   'time_to': '2020-02-20 13:00:00',
   'lesson_type_id': 1,
   'status': 3,
   'subject_id': 1,
   'room_id': None,
   'teacher_ids': [378],
   'customer_ids': [29664],
   'group_ids': [],
   'note': '',
   'topic': '',
   'details': [{'id': 26502,
     'branch_id': 4,
     'customer_id': 29664,
     'lesson_id': 40727,
     'ctt_id': None,
     'reason_id': None,
     'is_attend': 1,
     'commission': '998.00',
     'grade': '',
     'bonus': None,
     'note': ''}]},
  {'id': 40726,
   'branch_id': 4,
   'date': '2020-02-20',
   'time_from': '2020-02-20 11:00:01',
   'time_to': '2020-02-20 12:00:00',
   'lesson_type_id': 1,
   'status': 3,
   'subject_id': 1,
   'room_id': None,
   'teacher_ids': [307],
   'customer_ids': [31301],
   'group_ids': [],
   'note': '',
   'topic': '',
   'details': [{'id': 26501,
     'branch_id': 4,
     'customer_id': 31301,
     'lesson_id': 40726,
     'ctt_id': None,
     'reason_id': None,
     'is_attend': 1,
     'commission': '824.75',
     'grade': '',
     'bonus': None,
     'note': ''}]},
  {'id': 40725,
   'branch_id': 4,
   'date': '2020-02-20',
   'time_from': '2020-02-20 11:00:01',
   'time_to': '2020-02-20 12:00:00',
   'lesson_type_id': 1,
   'status': 3,
   'subject_id': 1,
   'room_id': None,
   'teacher_ids': [259],
   'customer_ids': [9083],
   'group_ids': [],
   'note': '',
   'topic': '',
   'details': [{'id': 26500,
     'branch_id': 4,
     'customer_id': 9083,
     'lesson_id': 40725,
     'ctt_id': None,
     'reason_id': None,
     'is_attend': 1,
     'commission': '738.69',
     'grade': '',
     'bonus': None,
     'note': ''}]},
  {'id': 40724,
   'branch_id': 4,
   'date': '2020-02-20',
   'time_from': '2020-02-20 10:00:01',
   'time_to': '2020-02-20 11:00:00',
   'lesson_type_id': 1,
   'status': 3,
   'subject_id': 1,
   'room_id': None,
   'teacher_ids': [378],
   'customer_ids': [34954],
   'group_ids': [],
   'note': '',
   'topic': '',
   'details': [{'id': 26499,
     'branch_id': 4,
     'customer_id': 34954,
     'lesson_id': 40724,
     'ctt_id': None,
     'reason_id': None,
     'is_attend': 1,
     'commission': '817.27',
     'grade': '',
     'bonus': None,
     'note': ''}]},
  {'id': 40723,
   'branch_id': 4,
   'date': '2020-02-20',
   'time_from': '2020-02-20 09:00:01',
   'time_to': '2020-02-20 10:00:00',
   'lesson_type_id': 1,
   'status': 3,
   'subject_id': 1,
   'room_id': None,
   'teacher_ids': [358],
   'customer_ids': [36761],
   'group_ids': [],
   'note': '',
   'topic': '',
   'details': [{'id': 26498,
     'branch_id': 4,
     'customer_id': 36761,
     'lesson_id': 40723,
     'ctt_id': None,
     'reason_id': None,
     'is_attend': 1,
     'commission': '831.66',
     'grade': '',
     'bonus': None,
     'note': ''}]},
  {'id': 40722,
   'branch_id': 4,
   'date': '2020-02-20',
   'time_from': '2020-02-20 09:00:01',
   'time_to': '2020-02-20 10:00:00',
   'lesson_type_id': 1,
   'status': 3,
   'subject_id': 1,
   'room_id': None,
   'teacher_ids': [259],
   'customer_ids': [12533],
   'group_ids': [],
   'note': '',
   'topic': '',
   'details': [{'id': 26497,
     'branch_id': 4,
     'customer_id': 12533,
     'lesson_id': 40722,
     'ctt_id': None,
     'reason_id': None,
     'is_attend': 1,
     'commission': '899.00',
     'grade': '',
     'bonus': None,
     'note': ''}]},
  {'id': 40721,
   'branch_id': 4,
   'date': '2020-02-20',
   'time_from': '2020-02-20 09:00:01',
   'time_to': '2020-02-20 10:00:00',
   'lesson_type_id': 1,
   'status': 3,
   'subject_id': 1,
   'room_id': None,
   'teacher_ids': [244],
   'customer_ids': [30489],
   'group_ids': [],
   'note': '',
   'topic': '',
   'details': [{'id': 26496,
     'branch_id': 4,
     'customer_id': 30489,
     'lesson_id': 40721,
     'ctt_id': None,
     'reason_id': None,
     'is_attend': 1,
     'commission': '899.00',
     'grade': '',
     'bonus': None,
     'note': ''}]},
  {'id': 40720,
   'branch_id': 4,
   'date': '2020-02-20',
   'time_from': '2020-02-20 09:00:01',
   'time_to': '2020-02-20 10:00:00',
   'lesson_type_id': 1,
   'status': 3,
   'subject_id': 2,
   'room_id': None,
   'teacher_ids': [58],
   'customer_ids': [37760],
   'group_ids': [],
   'note': '',
   'topic': '',
   'details': [{'id': 26495,
     'branch_id': 4,
     'customer_id': 37760,
     'lesson_id': 40720,
     'ctt_id': None,
     'reason_id': None,
     'is_attend': 1,
     'commission': '849.50',
     'grade': '',
     'bonus': None,
     'note': ''}]},
  {'id': 40719,
   'branch_id': 4,
   'date': '2020-02-20',
   'time_from': '2020-02-20 08:00:01',
   'time_to': '2020-02-20 09:00:00',
   'lesson_type_id': 1,
   'status': 3,
   'subject_id': 1,
   'room_id': None,
   'teacher_ids': [284],
   'customer_ids': [34608],
   'group_ids': [],
   'note': '',
   'topic': '',
   'details': [{'id': 26494,
     'branch_id': 4,
     'customer_id': 34608,
     'lesson_id': 40719,
     'ctt_id': None,
     'reason_id': None,
     'is_attend': 1,
     'commission': '772.27',
     'grade': '',
     'bonus': None,
     'note': ''}]},
  {'id': 40718,
   'branch_id': 4,
   'date': '2020-02-20',
   'time_from': '2020-02-20 06:00:01',
   'time_to': '2020-02-20 07:00:00',
   'lesson_type_id': 1,
   'status': 3,
   'subject_id': 1,
   'room_id': None,
   'teacher_ids': [358],
   'customer_ids': [33088],
   'group_ids': [],
   'note': '',
   'topic': '',
   'details': [{'id': 26493,
     'branch_id': 4,
     'customer_id': 33088,
     'lesson_id': 40718,
     'ctt_id': None,
     'reason_id': None,
     'is_attend': 1,
     'commission': '750.00',
     'grade': '',
     'bonus': None,
     'note': ''}]},
  {'id': 40714,
   'branch_id': 4,
   'date': '2020-02-20',
   'time_from': '2020-02-20 21:00:01',
   'time_to': '2020-02-20 22:00:00',
   'lesson_type_id': 1,
   'status': 3,
   'subject_id': 1,
   'room_id': None,
   'teacher_ids': [358],
   'customer_ids': [36128],
   'group_ids': [],
   'note': '',
   'topic': '',
   'details': [{'id': 26479,
     'branch_id': 4,
     'customer_id': 36128,
     'lesson_id': 40714,
     'ctt_id': None,
     'reason_id': 7,
     'is_attend': 0,
     'commission': '849.50',
     'grade': '',
     'bonus': None,
     'note': 'ученица предупредила за час до начала урока'}]},
  {'id': 40701,
   'branch_id': 4,
   'date': '2020-02-20',
   'time_from': '2020-02-20 17:00:01',
   'time_to': '2020-02-20 18:00:00',
   'lesson_type_id': 1,
   'status': 3,
   'subject_id': 1,
   'room_id': None,
   'teacher_ids': [285],
   'customer_ids': [32722],
   'group_ids': [],
   'note': '',
   'topic': '',
   'details': [{'id': 26468,
     'branch_id': 4,
     'customer_id': 32722,
     'lesson_id': 40701,
     'ctt_id': None,
     'reason_id': 7,
     'is_attend': 0,
     'commission': '849.50',
     'grade': '',
     'bonus': None,
     'note': ''}]},
  {'id': 40696,
   'branch_id': 4,
   'date': '2020-02-20',
   'time_from': '2020-02-20 18:00:01',
   'time_to': '2020-02-20 19:00:00',
   'lesson_type_id': 1,
   'status': 3,
   'subject_id': 1,
   'room_id': None,
   'teacher_ids': [297],
   'customer_ids': [33269],
   'group_ids': [],
   'note': '',
   'topic': '',
   'details': [{'id': 26467,
     'branch_id': 4,
     'customer_id': 33269,
     'lesson_id': 40696,
     'ctt_id': None,
     'reason_id': 5,
     'is_attend': 0,
     'commission': '0.00',
     'grade': '',
     'bonus': None,
     'note': ''}]},
  {'id': 40668,
   'branch_id': 4,
   'date': '2020-02-20',
   'time_from': '2020-02-20 10:00:01',
   'time_to': '2020-02-20 11:00:00',
   'lesson_type_id': 1,
   'status': 3,
   'subject_id': 1,
   'room_id': None,
   'teacher_ids': [259],
   'customer_ids': [36695],
   'group_ids': [],
   'note': '',
   'topic': '',
   'details': [{'id': 26490,
     'branch_id': 4,
     'customer_id': 36695,
     'lesson_id': 40668,
     'ctt_id': None,
     'reason_id': None,
     'is_attend': 1,
     'commission': '998.00',
     'grade': '',
     'bonus': None,
     'note': ''}]},
  {'id': 40665,
   'branch_id': 4,
   'date': '2020-02-20',
   'time_from': '2020-02-20 22:00:01',
   'time_to': '2020-02-20 23:00:00',
   'lesson_type_id': 1,
   'status': 3,
   'subject_id': 1,
   'room_id': None,
   'teacher_ids': [358],
   'customer_ids': [30814],
   'group_ids': [],
   'note': 'разовый перенос с 21.02 по просьбе ученицы',
   'topic': '',
   'details': [{'id': 26489,
     'branch_id': 4,
     'customer_id': 30814,
     'lesson_id': 40665,
     'ctt_id': None,
     'reason_id': None,
     'is_attend': 1,
     'commission': '824.75',
     'grade': '',
     'bonus': None,
     'note': ''}]},
  {'id': 40641,
   'branch_id': 4,
   'date': '2020-02-20',
   'time_from': '2020-02-20 10:00:01',
   'time_to': '2020-02-20 11:00:00',
   'lesson_type_id': 1,
   'status': 3,
   'subject_id': 1,
   'room_id': None,
   'teacher_ids': [370],
   'customer_ids': [35693],
   'group_ids': [],
   'note': '',
   'topic': '',
   'details': [{'id': 26460,
     'branch_id': 4,
     'customer_id': 35693,
     'lesson_id': 40641,
     'ctt_id': None,
     'reason_id': 5,
     'is_attend': 0,
     'commission': '0.00',
     'grade': '',
     'bonus': None,
     'note': ''}]},
  {'id': 40640,
   'branch_id': 4,
   'date': '2020-02-20',
   'time_from': '2020-02-20 10:00:01',
   'time_to': '2020-02-20 11:00:00',
   'lesson_type_id': 1,
   'status': 3,
   'subject_id': 1,
   'room_id': None,
   'teacher_ids': [358],
   'customer_ids': [30739],
   'group_ids': [],
   'note': '',
   'topic': '',
   'details': [{'id': 26459,
     'branch_id': 4,
     'customer_id': 30739,
     'lesson_id': 40640,
     'ctt_id': None,
     'reason_id': 5,
     'is_attend': 0,
     'commission': '0.00',
     'grade': '',
     'bonus': None,
     'note': 'ученица написала о переносе вечером 19.02'}]},
  {'id': 40636,
   'branch_id': 4,
   'date': '2020-02-20',
   'time_from': '2020-02-20 09:00:01',
   'time_to': '2020-02-20 10:00:00',
   'lesson_type_id': 1,
   'status': 3,
   'subject_id': 1,
   'room_id': None,
   'teacher_ids': [194],
   'customer_ids': [25667],
   'group_ids': [],
   'note': '',
   'topic': '',
   'details': [{'id': 26458,
     'branch_id': 4,
     'customer_id': 25667,
     'lesson_id': 40636,
     'ctt_id': None,
     'reason_id': 5,
     'is_attend': 0,
     'commission': '0.00',
     'grade': '',
     'bonus': None,
     'note': 'написала в Ва в 23.17'}]}]}

In [296]:
# data

In [297]:
response = requests.post(url + 'v2api/{}/lesson/index'.format(branch), headers = headers)
json_response = response.json()
data = json_normalize(json_response['items'])

number_of_pages = int(json_response['total'] / json_response['count']) + 1

print(number_of_pages)

for i in range(1, number_of_pages):
    response_i = requests.post(url + 'v2api/{}/lesson'.format(branch), headers = headers, json = {'page': i})
    json_response_i = response_i.json()
    data_i = json_normalize(json_response_i['items'])
    if data_i['date'][0][:4] == '2019':
        break
    data = data.append(data_i, ignore_index = True)

835

In [298]:
data

,branch_id,customer_ids,date,details,group_ids,id,lesson_type_id,note,room_id,status,subject_id,teacher_ids,time_from,time_to,topic
0,4,[26564],2020-02-21,"[{'id': 26557, 'branch_id': 4, 'customer_id': ...",[],40811,1,,None,3,1,[225],2020-02-21 18:00:01,2020-02-21 19:00:00,
1,4,[31427],2020-02-21,"[{'id': 26554, 'branch_id': 4, 'customer_id': ...",[],40803,1,,None,3,1,[245],2020-02-21 16:00:01,2020-02-21 17:00:00,
2,4,[34781],2020-02-21,"[{'id': 26540, 'branch_id': 4, 'customer_id': ...",[],40773,1,,None,3,1,[370],2020-02-21 09:00:01,2020-02-21 10:00:00,
3,4,[19303],2020-02-21,"[{'id': 26539, 'branch_id': 4, 'customer_id': ...",[],40764,1,,None,3,1,[259],2020-02-21 10:00:01,2020-02-21 11:00:00,
4,4,[37459],2020-02-21,"[{'id': 26552, 'branch_id': 4, 'customer_id': ...",[],40677,1,,None,3,1,[224],2020-02-21 12:00:01,2020-02-21 13:00:00,
5,4,[24409],2020-02-21,"[{'id': 26543, 'branch_id': 4, 'customer_id': ...",[],38309,1,,None,3,1,[194],2020-02-21 14:00:01,2020-02-21 15:00:00,
6,4,[26387],2020-02-20,"[{'id': 26538, 'branch_id': 4, 'customer_id': ...",[],40763,1,,None,3,1,[378],2020-02-20 22:00:01,2020-02-20 23:00:00,
7,4,[36404],2020-02-20,"[{'id': 26537, 'branch_id': 4, 'customer_id': ...",[],40762,1,,None,3,1,[226],2020-02-20 22:00:01,2020-02-20 23:00:00,
8,4,[21506],2020-02-20,"[{'id': 26536, 'branch_id': 4, 'customer_id': ...",[],40761,1,,None,3,1,[225],2020-02-20 21:00:01,2020-02-20 22:00:00,
9,4,[35779],2020-02-20,"[{'id': 26535, 'branch_id': 4, 'customer_id': ...",[],40760,1,,None,3,1,[283],2020-02-20 21:00:01,2020-02-20 22:00:00,
10,4,[37570],2020-02-20,"[{'id': 26534, 'branch_id': 4, 'customer_id': ...",[],40759,1,,None,3,1,[220],2020-02-20 21:00:01,2020-02-20 22:00:00,
11,4,[29697],2020-02-20,"[{'id': 26533, 'branch_id': 4, 'customer_id': ...",[],40758,1,,None,3,2,[360],2020-02-20 20:00:01,2020-02-20 21:00:00,
12,4,[18953],2020-02-20,"[{'id': 26532, 'branch_id': 4, 'customer_id': ...",[],40757,1,,None,3,1,[288],2020-02-20 20:00:01,2020-02-20 21:00:00,
13,4,[37460],2020-02-20,"[{'id': 26531, 'branch_id': 4, 'customer_id': ...",[],40756,1,,None,3,1,[91],2020-02-20 20:00:01,2020-02-20 21:00:00,
14,4,[36910],2020-02-20,"[{'id': 26530, 'branch_id': 4, 'customer_id': ...",[],40755,1,,None,3,1,[243],2020-02-20 19:00:01,2020-02-20 20:00:00,
15,4,[15629],2020-02-20,"[{'id': 26529, 'branch_id': 4, 'customer_id': ...",[],40754,1,,None,3,1,[307],2020-02-20 19:00:01,2020-02-20 20:00:00,
16,4,[32899],2020-02-20,"[{'id': 26528, 'branch_id': 4, 'customer_id': ...",[],40753,1,,None,3,1,[284],2020-02-20 19:00:01,2020-02-20 20:00:00,
17,4,[24281],2020-02-20,"[{'id': 26527, 'branch_id': 4, 'customer_id': ...",[],40752,1,,None,3,1,[194],2020-02-20 19:00:01,2020-02-20 20:00:00,
18,4,[36361],2020-02-20,"[{'id': 26526, 'branch_id': 4, 'customer_id': ...",[],40751,1,,None,3,1,[224],2020-02-20 19:00:01,2020-02-20 20:00:00,
19,4,[32138],2020-02-20,"[{'id': 26525, 'branch_id': 4, 'customer_id': ...",[],40750,1,,None,3,1,[220],2020-02-20 19:00:01,2020-02-20 20:00:00,
20,4,[30307],2020-02-20,"[{'id': 26524, 'branch_id': 4, 'customer_id': ...",[],40749,1,,None,3,3,[434],2020-02-20 19:00:01,2020-02-20 20:00:00,
21,4,[22967],2020-02-20,"[{'id': 26523, 'branch_id': 4, 'customer_id': ...",[],40748,1,,None,3,1,[217],2020-02-20 19:00:01,2020-02-20 20:00:00,
22,4,[19013],2020-02-20,"[{'id': 26522, 'branch_id': 4, 'customer_id': ...",[],40747,1,,None,3,1,[283],2020-02-20 19:00:01,2020-02-20 20:00:00,
23,4,[24367],2020-02-20,"[{'id': 26521, 'branch_id': 4, 'customer_id': ...",[],40746,1,,None,3,3,[422],2020-02-20 18:00:01,2020-02-20 19:00:00,
24,4,[32782],2020-02-20,"[{'id': 26520, 'branch_id': 4, 'customer_id': ...",[],40745,1,,None,3,1,[224],2020-02-20 18:00:01,2020-02-20 19:00:00,
25,4,[18523],2020-02-20,"[{'id': 26519, 'branch_id': 4, 'customer_id': ...",[],40744,1,,None,3,1,[225],2020-02-20 18:00:01,2020-02-20 19:00:00,
26,4,[18960],2020-02-20,"[{'id': 26518, 'branch_id': 4, 'customer_id': ...",[],40743,1,,None,3,1,[243],2020-02-20 18:00:01,2020-02-20 19:00:00,
27,4,[36730],2020-02-20,"[{'id': 26517, 'branch_id': 4, 'customer_id': ...",[],40742,1,,None,3,1,[378],2020-02-20 18:00:01,2020-02-20 19:00:00,
28,4,[37219],2020-02-20,"[{'id': 26516, 'branch_id': 4, 'customer_id': ...",[],40741,1,,None,3,3,[398],2020-02-20 17:00:01,2020-02-20 18:00:00,
29,4,[31536],2020-02-20,"[{'id': 26515, 'branch_id': 4, 'customer_id': ...",[],40740,1,,None,3,3,[422],2020-02-20 17:00:01,2020-02-20 18:00:00,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2250,4,[34954],2020-01-04,"[{'id': 23361, 'branch_id': 4, 'customer_id': ...",[],35308,1,,None,3,1,[378],2020-01-04 20:00:01,2020-01-04 21:00:00,
2251,4,[30739],2020-01-04,"[{'id': 23359, 'branch_id': 4, 'customer_id': ...",[],35282,1,разовая замена за 9.01,None,3,1,[259],2020-01-04 09:00:01,2020-01-04 10:00:00,
2252,4,[27419],2020-01-03,"[{'id': 23346, 'branch_id': 4, 'customer_id': ...",[],35900,1,,None,3,1,[291],2020-01-03 21:00:01,2020-01-03 22:00:00,
2253,4,[10350],2020-01-03,"[{'id': 23342, 'branch_id': 4, 'customer_id': ...",[],35865,1,,None,3,1,[80],2020-01-03 18:00:01,2020-01-03 19:00:00,
2254,4,[12741],2020-01-03,"[{'id': 23345, 'branch_id': 4, 'customer_id': ...",[],35823,1,разовый перенос с 2.01по просьбе ученицы,None,3,1,[84],2020-01-03 12:00:01,2020-01-03 13:00:00,
2255,4,[32278],2020-01-03,"[{'id': 23343, 'branch_id': 4, 'customer_id': ...",[],35413,1,,None,3,1,[326],2020-01-03 17:00:01,2020-01-03 18:00:00,
2256,4,[32774],2020-01-03,"[{'id': 23344, 'branch_id': 4, 'customer_id': ...",[],34749,1,замена учителя на праздники,None,3,1,[226],2020-01-03 17:00:01,2020-01-03 18:00:00,
2257,4,[26387],2020-01-02,"[{'id': 23336, 'branch_id': 4, 'customer_id': ...",[],35873,1,,None,3,1,[378],2020-01-02 22:00:01,2020-01-02 23:00:00,
2258,4,[25610],2020-01-02,"[{'id': 23335, 'branch_id': 4, 'customer_id': ...",[],35872,1,,None,3,1,[291],2020-01-02 20:00:01,2020-01-02 21:00:00,
2259,4,[24367],2020-01-02,"[{'id': 23334, 'branch_id': 4, 'customer_id': ...",[],35871,1,,None,3,3,[422],2020-01-02 18:00:01,2020-01-02 19:00:00,
2260,4,[31536],2020-01-02,"[{'id': 23333, 'branch_id': 4, 'customer_id': ...",[],35870,1,,None,3,3,[422],2020-01-02 17:00:01,2020-01-02 18:00:00,
2261,4,[29664],2020-01-02,"[{'id': 23332, 'branch_id': 4, 'customer_id': ...",[],35869,1,,None,3,1,[378],2020-01-02 12:00:01,2020-01-02 13:00:00,
2262,4,[34608],2020-01-02,"[{'id': 23330, 'branch_id': 4, 'customer_id': ...",[],35867,1,,None,3,1,[282],2020-01-02 08:00:01,2020-01-02 09:00:00,
2263,4,[35632],2020-01-02,"[{'id': 23327, 'branch_id': 4, 'customer_id': ...",[],35832,1,,None,3,1,[278],2020-01-02 19:00:01,2020-01-02 20:00:00,
2264,4,[33158],2020-01-02,"[{'id': 23321, 'branch_id': 4, 'customer_id': ...",[],35805,1,,None,3,3,[422],2020-01-02 11:00:01,2020-01-02 12:00:00,
2265,4,[33752],2020-01-02,"[{'id': 23329, 'branch_id': 4, 'customer_id': ...",[],35693,1,,None,3,1,[282],2020-01-02 14:00:01,2020-01-02 15:00:00,
2266,4,[26350],2020-01-02,"[{'id': 23324, 'branch_id': 4, 'customer_id': ...",[],35557,1,разовая замена на праздники,None,3,1,[278],2020-01-02 12:00:01,2020-01-02 13:00:00,
2267,4,[34954],2020-01-02,"[{'id': 23328, 'branch_id': 4, 'customer_id': ...",[],35307,1,,None,3,1,[378],2020-01-02 20:00:01,2020-01-02 21:00:00,
2268,4,[25602],2020-01-02,"[{'id': 23325, 'branch_id': 4, 'customer_id': ...",[],34960,1,учитель не вышел на урок,None,3,1,[278],2020-01-02 11:00:01,2020-01-02 12:00:00,
2269,4,[30124],2020-01-01,"[{'id': 23320, 'branch_id': 4, 'customer_id': ...",[],35821,1,,None,3,1,[278],2020-01-01 19:00:01,2020-01-01 20:00:00,
2270,4,[6350],2020-01-01,"[{'id': 23319, 'branch_id': 4, 'customer_id': ...",[],35820,1,,None,3,1,[25],2020-01-01 17:00:01,2020-01-01 18:00:00,
2271,4,[32094],2019-12-31,"[{'id': 23317, 'branch_id': 4, 'customer_id': ...",[],35818,1,,None,3,2,[340],2019-12-31 16:00:01,2019-12-31 17:00:00,
2272,4,[24367],2019-12-31,"[{'id': 23316, 'branch_id': 4, 'customer_id': ...",[],35817,1,,None,3,3,[422],2019-12-31 18:00:01,2019-12-31 19:00:00,
2273,4,[26564],2019-12-31,"[{'id': 23315, 'branch_id': 4, 'customer_id': ...",[],35816,1,,None,3,1,[225],2019-12-31 18:00:01,2019-12-31 19:00:00,
2274,4,[29878],2019-12-31,"[{'id': 23314, 'branch_id': 4, 'customer_id': ...",[],35815,1,,None,3,1,[199],2019-12-31 16:00:01,2019-12-31 17:00:00,
2275,4,[25817],2019-12-31,"[{'id': 23313, 'branch_id': 4, 'customer_id': ...",[],35814,1,,None,3,1,[8],2019-12-31 10:00:01,2019-12-31 11:00:00,
2276,4,[34510],2019-12-31,"[{'id': 23310, 'branch_id': 4, 'customer_id': ...",[],35808,1,,None,3,3,[433],2019-12-31 19:00:01,2019-12-31 20:00:00,
2277,4,[33158],2019-12-31,"[{'id': 23309, 'branch_id': 4, 'customer_id': ...",[],35804,1,,None,3,3,[422],2019-12-31 11:00:01,2019-12-31 12:00:00,
2278,4,[32086],2019-12-31,"[{'id': 23312, 'branch_id': 4, 'customer_id': ...",[],35303,1,,None,3,1,[378],2019-12-31 13:00:01,2019-12-31 14:00:00,
2279,4,[28740],2019-12-31,"[{'id': 23311, 'branch_id': 4, 'customer_id': ...",[],34522,1,разовый перенос с 19 ч по просьбе ученицы,None,3,1,[278],2019-12-31 10:00:01,2019-12-31 11:00:00,

In [299]:
data[data['branch_id'] == 4]

,branch_id,customer_ids,date,details,group_ids,id,lesson_type_id,note,room_id,status,subject_id,teacher_ids,time_from,time_to,topic
0,4,[26564],2020-02-21,"[{'id': 26557, 'branch_id': 4, 'customer_id': ...",[],40811,1,,None,3,1,[225],2020-02-21 18:00:01,2020-02-21 19:00:00,
1,4,[31427],2020-02-21,"[{'id': 26554, 'branch_id': 4, 'customer_id': ...",[],40803,1,,None,3,1,[245],2020-02-21 16:00:01,2020-02-21 17:00:00,
2,4,[34781],2020-02-21,"[{'id': 26540, 'branch_id': 4, 'customer_id': ...",[],40773,1,,None,3,1,[370],2020-02-21 09:00:01,2020-02-21 10:00:00,
3,4,[19303],2020-02-21,"[{'id': 26539, 'branch_id': 4, 'customer_id': ...",[],40764,1,,None,3,1,[259],2020-02-21 10:00:01,2020-02-21 11:00:00,
4,4,[37459],2020-02-21,"[{'id': 26552, 'branch_id': 4, 'customer_id': ...",[],40677,1,,None,3,1,[224],2020-02-21 12:00:01,2020-02-21 13:00:00,
5,4,[24409],2020-02-21,"[{'id': 26543, 'branch_id': 4, 'customer_id': ...",[],38309,1,,None,3,1,[194],2020-02-21 14:00:01,2020-02-21 15:00:00,
6,4,[26387],2020-02-20,"[{'id': 26538, 'branch_id': 4, 'customer_id': ...",[],40763,1,,None,3,1,[378],2020-02-20 22:00:01,2020-02-20 23:00:00,
7,4,[36404],2020-02-20,"[{'id': 26537, 'branch_id': 4, 'customer_id': ...",[],40762,1,,None,3,1,[226],2020-02-20 22:00:01,2020-02-20 23:00:00,
8,4,[21506],2020-02-20,"[{'id': 26536, 'branch_id': 4, 'customer_id': ...",[],40761,1,,None,3,1,[225],2020-02-20 21:00:01,2020-02-20 22:00:00,
9,4,[35779],2020-02-20,"[{'id': 26535, 'branch_id': 4, 'customer_id': ...",[],40760,1,,None,3,1,[283],2020-02-20 21:00:01,2020-02-20 22:00:00,
10,4,[37570],2020-02-20,"[{'id': 26534, 'branch_id': 4, 'customer_id': ...",[],40759,1,,None,3,1,[220],2020-02-20 21:00:01,2020-02-20 22:00:00,
11,4,[29697],2020-02-20,"[{'id': 26533, 'branch_id': 4, 'customer_id': ...",[],40758,1,,None,3,2,[360],2020-02-20 20:00:01,2020-02-20 21:00:00,
12,4,[18953],2020-02-20,"[{'id': 26532, 'branch_id': 4, 'customer_id': ...",[],40757,1,,None,3,1,[288],2020-02-20 20:00:01,2020-02-20 21:00:00,
13,4,[37460],2020-02-20,"[{'id': 26531, 'branch_id': 4, 'customer_id': ...",[],40756,1,,None,3,1,[91],2020-02-20 20:00:01,2020-02-20 21:00:00,
14,4,[36910],2020-02-20,"[{'id': 26530, 'branch_id': 4, 'customer_id': ...",[],40755,1,,None,3,1,[243],2020-02-20 19:00:01,2020-02-20 20:00:00,
15,4,[15629],2020-02-20,"[{'id': 26529, 'branch_id': 4, 'customer_id': ...",[],40754,1,,None,3,1,[307],2020-02-20 19:00:01,2020-02-20 20:00:00,
16,4,[32899],2020-02-20,"[{'id': 26528, 'branch_id': 4, 'customer_id': ...",[],40753,1,,None,3,1,[284],2020-02-20 19:00:01,2020-02-20 20:00:00,
17,4,[24281],2020-02-20,"[{'id': 26527, 'branch_id': 4, 'customer_id': ...",[],40752,1,,None,3,1,[194],2020-02-20 19:00:01,2020-02-20 20:00:00,
18,4,[36361],2020-02-20,"[{'id': 26526, 'branch_id': 4, 'customer_id': ...",[],40751,1,,None,3,1,[224],2020-02-20 19:00:01,2020-02-20 20:00:00,
19,4,[32138],2020-02-20,"[{'id': 26525, 'branch_id': 4, 'customer_id': ...",[],40750,1,,None,3,1,[220],2020-02-20 19:00:01,2020-02-20 20:00:00,
20,4,[30307],2020-02-20,"[{'id': 26524, 'branch_id': 4, 'customer_id': ...",[],40749,1,,None,3,3,[434],2020-02-20 19:00:01,2020-02-20 20:00:00,
21,4,[22967],2020-02-20,"[{'id': 26523, 'branch_id': 4, 'customer_id': ...",[],40748,1,,None,3,1,[217],2020-02-20 19:00:01,2020-02-20 20:00:00,
22,4,[19013],2020-02-20,"[{'id': 26522, 'branch_id': 4, 'customer_id': ...",[],40747,1,,None,3,1,[283],2020-02-20 19:00:01,2020-02-20 20:00:00,
23,4,[24367],2020-02-20,"[{'id': 26521, 'branch_id': 4, 'customer_id': ...",[],40746,1,,None,3,3,[422],2020-02-20 18:00:01,2020-02-20 19:00:00,
24,4,[32782],2020-02-20,"[{'id': 26520, 'branch_id': 4, 'customer_id': ...",[],40745,1,,None,3,1,[224],2020-02-20 18:00:01,2020-02-20 19:00:00,
25,4,[18523],2020-02-20,"[{'id': 26519, 'branch_id': 4, 'customer_id': ...",[],40744,1,,None,3,1,[225],2020-02-20 18:00:01,2020-02-20 19:00:00,
26,4,[18960],2020-02-20,"[{'id': 26518, 'branch_id': 4, 'customer_id': ...",[],40743,1,,None,3,1,[243],2020-02-20 18:00:01,2020-02-20 19:00:00,
27,4,[36730],2020-02-20,"[{'id': 26517, 'branch_id': 4, 'customer_id': ...",[],40742,1,,None,3,1,[378],2020-02-20 18:00:01,2020-02-20 19:00:00,
28,4,[37219],2020-02-20,"[{'id': 26516, 'branch_id': 4, 'customer_id': ...",[],40741,1,,None,3,3,[398],2020-02-20 17:00:01,2020-02-20 18:00:00,
29,4,[31536],2020-02-20,"[{'id': 26515, 'branch_id': 4, 'customer_id': ...",[],40740,1,,None,3,3,[422],2020-02-20 17:00:01,2020-02-20 18:00:00,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2250,4,[34954],2020-01-04,"[{'id': 23361, 'branch_id': 4, 'customer_id': ...",[],35308,1,,None,3,1,[378],2020-01-04 20:00:01,2020-01-04 21:00:00,
2251,4,[30739],2020-01-04,"[{'id': 23359, 'branch_id': 4, 'customer_id': ...",[],35282,1,разовая замена за 9.01,None,3,1,[259],2020-01-04 09:00:01,2020-01-04 10:00:00,
2252,4,[27419],2020-01-03,"[{'id': 23346, 'branch_id': 4, 'customer_id': ...",[],35900,1,,None,3,1,[291],2020-01-03 21:00:01,2020-01-03 22:00:00,
2253,4,[10350],2020-01-03,"[{'id': 23342, 'branch_id': 4, 'customer_id': ...",[],35865,1,,None,3,1,[80],2020-01-03 18:00:01,2020-01-03 19:00:00,
2254,4,[12741],2020-01-03,"[{'id': 23345, 'branch_id': 4, 'customer_id': ...",[],35823,1,разовый перенос с 2.01по просьбе ученицы,None,3,1,[84],2020-01-03 12:00:01,2020-01-03 13:00:00,
2255,4,[32278],2020-01-03,"[{'id': 23343, 'branch_id': 4, 'customer_id': ...",[],35413,1,,None,3,1,[326],2020-01-03 17:00:01,2020-01-03 18:00:00,
2256,4,[32774],2020-01-03,"[{'id': 23344, 'branch_id': 4, 'customer_id': ...",[],34749,1,замена учителя на праздники,None,3,1,[226],2020-01-03 17:00:01,2020-01-03 18:00:00,
2257,4,[26387],2020-01-02,"[{'id': 23336, 'branch_id': 4, 'customer_id': ...",[],35873,1,,None,3,1,[378],2020-01-02 22:00:01,2020-01-02 23:00:00,
2258,4,[25610],2020-01-02,"[{'id': 23335, 'branch_id': 4, 'customer_id': ...",[],35872,1,,None,3,1,[291],2020-01-02 20:00:01,2020-01-02 21:00:00,
2259,4,[24367],2020-01-02,"[{'id': 23334, 'branch_id': 4, 'customer_id': ...",[],35871,1,,None,3,3,[422],2020-01-02 18:00:01,2020-01-02 19:00:00,
2260,4,[31536],2020-01-02,"[{'id': 23333, 'branch_id': 4, 'customer_id': ...",[],35870,1,,None,3,3,[422],2020-01-02 17:00:01,2020-01-02 18:00:00,
2261,4,[29664],2020-01-02,"[{'id': 23332, 'branch_id': 4, 'customer_id': ...",[],35869,1,,None,3,1,[378],2020-01-02 12:00:01,2020-01-02 13:00:00,
2262,4,[34608],2020-01-02,"[{'id': 23330, 'branch_id': 4, 'customer_id': ...",[],35867,1,,None,3,1,[282],2020-01-02 08:00:01,2020-01-02 09:00:00,
2263,4,[35632],2020-01-02,"[{'id': 23327, 'branch_id': 4, 'customer_id': ...",[],35832,1,,None,3,1,[278],2020-01-02 19:00:01,2020-01-02 20:00:00,
2264,4,[33158],2020-01-02,"[{'id': 23321, 'branch_id': 4, 'customer_id': ...",[],35805,1,,None,3,3,[422],2020-01-02 11:00:01,2020-01-02 12:00:00,
2265,4,[33752],2020-01-02,"[{'id': 23329, 'branch_id': 4, 'customer_id': ...",[],35693,1,,None,3,1,[282],2020-01-02 14:00:01,2020-01-02 15:00:00,
2266,4,[26350],2020-01-02,"[{'id': 23324, 'branch_id': 4, 'customer_id': ...",[],35557,1,разовая замена на праздники,None,3,1,[278],2020-01-02 12:00:01,2020-01-02 13:00:00,
2267,4,[34954],2020-01-02,"[{'id': 23328, 'branch_id': 4, 'customer_id': ...",[],35307,1,,None,3,1,[378],2020-01-02 20:00:01,2020-01-02 21:00:00,
2268,4,[25602],2020-01-02,"[{'id': 23325, 'branch_id': 4, 'customer_id': ...",[],34960,1,учитель не вышел на урок,None,3,1,[278],2020-01-02 11:00:01,2020-01-02 12:00:00,
2269,4,[30124],2020-01-01,"[{'id': 23320, 'branch_id': 4, 'customer_id': ...",[],35821,1,,None,3,1,[278],2020-01-01 19:00:01,2020-01-01 20:00:00,
2270,4,[6350],2020-01-01,"[{'id': 23319, 'branch_id': 4, 'customer_id': ...",[],35820,1,,None,3,1,[25],2020-01-01 17:00:01,2020-01-01 18:00:00,
2271,4,[32094],2019-12-31,"[{'id': 23317, 'branch_id': 4, 'customer_id': ...",[],35818,1,,None,3,2,[340],2019-12-31 16:00:01,2019-12-31 17:00:00,
2272,4,[24367],2019-12-31,"[{'id': 23316, 'branch_id': 4, 'customer_id': ...",[],35817,1,,None,3,3,[422],2019-12-31 18:00:01,2019-12-31 19:00:00,
2273,4,[26564],2019-12-31,"[{'id': 23315, 'branch_id': 4, 'customer_id': ...",[],35816,1,,None,3,1,[225],2019-12-31 18:00:01,2019-12-31 19:00:00,
2274,4,[29878],2019-12-31,"[{'id': 23314, 'branch_id': 4, 'customer_id': ...",[],35815,1,,None,3,1,[199],2019-12-31 16:00:01,2019-12-31 17:00:00,
2275,4,[25817],2019-12-31,"[{'id': 23313, 'branch_id': 4, 'customer_id': ...",[],35814,1,,None,3,1,[8],2019-12-31 10:00:01,2019-12-31 11:00:00,
2276,4,[34510],2019-12-31,"[{'id': 23310, 'branch_id': 4, 'customer_id': ...",[],35808,1,,None,3,3,[433],2019-12-31 19:00:01,2019-12-31 20:00:00,
2277,4,[33158],2019-12-31,"[{'id': 23309, 'branch_id': 4, 'customer_id': ...",[],35804,1,,None,3,3,[422],2019-12-31 11:00:01,2019-12-31 12:00:00,
2278,4,[32086],2019-12-31,"[{'id': 23312, 'branch_id': 4, 'customer_id': ...",[],35303,1,,None,3,1,[378],2019-12-31 13:00:01,2019-12-31 14:00:00,
2279,4,[28740],2019-12-31,"[{'id': 23311, 'branch_id': 4, 'customer_id': ...",[],34522,1,разовый перенос с 19 ч по просьбе ученицы,None,3,1,[278],2019-12-31 10:00:01,2019-12-31 11:00:00,

In [300]:
type(data[data['branch_id'] == 4]['date'][3])

str

In [301]:
data['date-month'] = data['date'].apply(lambda x: x[:7])

In [302]:
data['year'] = data['date'].apply(lambda x: x[:4])

In [303]:
select = data[data['date-month'] == '2020-01'].copy()

In [304]:
select = data[data['year'] == '2020'].copy()

In [305]:
select

,branch_id,customer_ids,date,details,group_ids,id,lesson_type_id,note,room_id,status,subject_id,teacher_ids,time_from,time_to,topic,date-month,year
0,4,[26564],2020-02-21,"[{'id': 26557, 'branch_id': 4, 'customer_id': ...",[],40811,1,,None,3,1,[225],2020-02-21 18:00:01,2020-02-21 19:00:00,,2020-02,2020
1,4,[31427],2020-02-21,"[{'id': 26554, 'branch_id': 4, 'customer_id': ...",[],40803,1,,None,3,1,[245],2020-02-21 16:00:01,2020-02-21 17:00:00,,2020-02,2020
2,4,[34781],2020-02-21,"[{'id': 26540, 'branch_id': 4, 'customer_id': ...",[],40773,1,,None,3,1,[370],2020-02-21 09:00:01,2020-02-21 10:00:00,,2020-02,2020
3,4,[19303],2020-02-21,"[{'id': 26539, 'branch_id': 4, 'customer_id': ...",[],40764,1,,None,3,1,[259],2020-02-21 10:00:01,2020-02-21 11:00:00,,2020-02,2020
4,4,[37459],2020-02-21,"[{'id': 26552, 'branch_id': 4, 'customer_id': ...",[],40677,1,,None,3,1,[224],2020-02-21 12:00:01,2020-02-21 13:00:00,,2020-02,2020
5,4,[24409],2020-02-21,"[{'id': 26543, 'branch_id': 4, 'customer_id': ...",[],38309,1,,None,3,1,[194],2020-02-21 14:00:01,2020-02-21 15:00:00,,2020-02,2020
6,4,[26387],2020-02-20,"[{'id': 26538, 'branch_id': 4, 'customer_id': ...",[],40763,1,,None,3,1,[378],2020-02-20 22:00:01,2020-02-20 23:00:00,,2020-02,2020
7,4,[36404],2020-02-20,"[{'id': 26537, 'branch_id': 4, 'customer_id': ...",[],40762,1,,None,3,1,[226],2020-02-20 22:00:01,2020-02-20 23:00:00,,2020-02,2020
8,4,[21506],2020-02-20,"[{'id': 26536, 'branch_id': 4, 'customer_id': ...",[],40761,1,,None,3,1,[225],2020-02-20 21:00:01,2020-02-20 22:00:00,,2020-02,2020
9,4,[35779],2020-02-20,"[{'id': 26535, 'branch_id': 4, 'customer_id': ...",[],40760,1,,None,3,1,[283],2020-02-20 21:00:01,2020-02-20 22:00:00,,2020-02,2020
10,4,[37570],2020-02-20,"[{'id': 26534, 'branch_id': 4, 'customer_id': ...",[],40759,1,,None,3,1,[220],2020-02-20 21:00:01,2020-02-20 22:00:00,,2020-02,2020
11,4,[29697],2020-02-20,"[{'id': 26533, 'branch_id': 4, 'customer_id': ...",[],40758,1,,None,3,2,[360],2020-02-20 20:00:01,2020-02-20 21:00:00,,2020-02,2020
12,4,[18953],2020-02-20,"[{'id': 26532, 'branch_id': 4, 'customer_id': ...",[],40757,1,,None,3,1,[288],2020-02-20 20:00:01,2020-02-20 21:00:00,,2020-02,2020
13,4,[37460],2020-02-20,"[{'id': 26531, 'branch_id': 4, 'customer_id': ...",[],40756,1,,None,3,1,[91],2020-02-20 20:00:01,2020-02-20 21:00:00,,2020-02,2020
14,4,[36910],2020-02-20,"[{'id': 26530, 'branch_id': 4, 'customer_id': ...",[],40755,1,,None,3,1,[243],2020-02-20 19:00:01,2020-02-20 20:00:00,,2020-02,2020
15,4,[15629],2020-02-20,"[{'id': 26529, 'branch_id': 4, 'customer_id': ...",[],40754,1,,None,3,1,[307],2020-02-20 19:00:01,2020-02-20 20:00:00,,2020-02,2020
16,4,[32899],2020-02-20,"[{'id': 26528, 'branch_id': 4, 'customer_id': ...",[],40753,1,,None,3,1,[284],2020-02-20 19:00:01,2020-02-20 20:00:00,,2020-02,2020
17,4,[24281],2020-02-20,"[{'id': 26527, 'branch_id': 4, 'customer_id': ...",[],40752,1,,None,3,1,[194],2020-02-20 19:00:01,2020-02-20 20:00:00,,2020-02,2020
18,4,[36361],2020-02-20,"[{'id': 26526, 'branch_id': 4, 'customer_id': ...",[],40751,1,,None,3,1,[224],2020-02-20 19:00:01,2020-02-20 20:00:00,,2020-02,2020
19,4,[32138],2020-02-20,"[{'id': 26525, 'branch_id': 4, 'customer_id': ...",[],40750,1,,None,3,1,[220],2020-02-20 19:00:01,2020-02-20 20:00:00,,2020-02,2020
20,4,[30307],2020-02-20,"[{'id': 26524, 'branch_id': 4, 'customer_id': ...",[],40749,1,,None,3,3,[434],2020-02-20 19:00:01,2020-02-20 20:00:00,,2020-02,2020
21,4,[22967],2020-02-20,"[{'id': 26523, 'branch_id': 4, 'customer_id': ...",[],40748,1,,None,3,1,[217],2020-02-20 19:00:01,2020-02-20 20:00:00,,2020-02,2020
22,4,[19013],2020-02-20,"[{'id': 26522, 'branch_id': 4, 'customer_id': ...",[],40747,1,,None,3,1,[283],2020-02-20 19:00:01,2020-02-20 20:00:00,,2020-02,2020
23,4,[24367],2020-02-20,"[{'id': 26521, 'branch_id': 4, 'customer_id': ...",[],40746,1,,None,3,3,[422],2020-02-20 18:00:01,2020-02-20 19:00:00,,2020-02,2020
24,4,[32782],2020-02-20,"[{'id': 26520, 'branch_id': 4, 'customer_id': ...",[],40745,1,,None,3,1,[224],2020-02-20 18:00:01,2020-02-20 19:00:00,,2020-02,2020
25,4,[18523],2020-02-20,"[{'id': 26519, 'branch_id': 4, 'customer_id': ...",[],40744,1,,None,3,1,[225],2020-02-20 18:00:01,2020-02-20 19:00:00,,2020-02,2020
26,4,[18960],2020-02-20,"[{'id': 26518, 'branch_id': 4, 'customer_id': ...",[],40743,1,,None,3,1,[243],2020-02-20 18:00:01,2020-02-20 19:00:00,,2020-02,2020
27,4,[36730],2020-02-20,"[{'id': 26517, 'branch_id': 4, 'customer_id': ...",[],40742,1,,None,3,1,[378],2020-02-20 18:00:01,2020-02-20 19:00:00,,2020-02,2020
28,4,[37219],2020-02-20,"[{'id': 26516, 'branch_id': 4, 'customer_id': ...",[],40741,1,,None,3,3,[398],2020-02-20 17:00:01,2020-02-20 18:00:00,,2020-02,2020
29,4,[31536],2020-02-20,"[{'id': 26515, 'branch_id': 4, 'customer_id': ...",[],40740,1,,None,3,3,[422],2020-02-20 17:00:01,2020-02-20 18:00:00,,2020-02,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2241,4,[21107],2020-01-04,"[{'id': 23365, 'branch_id': 4, 'customer_id': ...",[],35927,1,,None,3,2,[357],2020-01-04 12:00:01,2020-01-04 13:00:00,,2020-01,2020
2242,4,[197],2020-01-04,"[{'id': 23364, 'branch_id': 4, 'customer_id': ...",[],35926,1,,None,3,1,[278],2020-01-04 11:00:01,2020-01-04 12:00:00,,2020-01,2020
2243,4,[32449],2020-01-04,"[{'id': 23363, 'branch_id': 4, 'customer_id': ...",[],35925,1,,None,3,1,[259],2020-01-04 11:00:01,2020-01-04 12:00:00,,2020-01,2020
2244,4,[33565],2020-01-04,"[{'id': 23362, 'branch_id': 4, 'customer_id': ...",[],35924,1,,None,3,1,[378],2020-01-04 08:00:01,2020-01-04 09:00:00,,2020-01,2020
2245,4,[33896],2020-01-04,"[{'id': 23353, 'branch_id': 4, 'customer_id': ...",[],35920,1,,None,3,1,[12],2020-01-04 16:00:01,2020-01-04 17:00:00,,2020-01,2020
2246,4,[28293],2020-01-04,"[{'id': 23352, 'branch_id': 4, 'customer_id': ...",[],35917,1,,None,3,2,[357],2020-01-04 16:00:01,2020-01-04 17:00:00,предупредили за 50 минут до урока,2020-01,2020
2247,4,[35320],2020-01-04,"[{'id': 23358, 'branch_id': 4, 'customer_id': ...",[],35863,1,,None,3,1,[12],2020-01-04 14:00:01,2020-01-04 15:00:00,,2020-01,2020
2248,4,[29958],2020-01-04,"[{'id': 23357, 'branch_id': 4, 'customer_id': ...",[],35844,1,разовая замена учителя,None,3,2,[86],2020-01-04 11:00:01,2020-01-04 12:00:00,,2020-01,2020
2249,4,[26350],2020-01-04,"[{'id': 23360, 'branch_id': 4, 'customer_id': ...",[],35558,1,разовый урок вне расписания.,None,3,1,[278],2020-01-04 12:00:01,2020-01-04 13:00:00,,2020-01,2020
2250,4,[34954],2020-01-04,"[{'id': 23361, 'branch_id': 4, 'customer_id': ...",[],35308,1,,None,3,1,[378],2020-01-04 20:00:01,2020-01-04 21:00:00,,2020-01,2020
2251,4,[30739],2020-01-04,"[{'id': 23359, 'branch_id': 4, 'customer_id': ...",[],35282,1,разовая замена за 9.01,None,3,1,[259],2020-01-04 09:00:01,2020-01-04 10:00:00,,2020-01,2020
2252,4,[27419],2020-01-03,"[{'id': 23346, 'branch_id': 4, 'customer_id': ...",[],35900,1,,None,3,1,[291],2020-01-03 21:00:01,2020-01-03 22:00:00,,2020-01,2020
2253,4,[10350],2020-01-03,"[{'id': 23342, 'branch_id': 4, 'customer_id': ...",[],35865,1,,None,3,1,[80],2020-01-03 18:00:01,2020-01-03 19:00:00,,2020-01,2020
2254,4,[12741],2020-01-03,"[{'id': 23345, 'branch_id': 4, 'customer_id': ...",[],35823,1,разовый перенос с 2.01по просьбе ученицы,None,3,1,[84],2020-01-03 12:00:01,2020-01-03 13:00:00,,2020-01,2020
2255,4,[32278],2020-01-03,"[{'id': 23343, 'branch_id': 4, 'customer_id': ...",[],35413,1,,None,3,1,[326],2020-01-03 17:00:01,2020-01-03 18:00:00,,2020-01,2020
2256,4,[32774],2020-01-03,"[{'id': 23344, 'branch_id': 4, 'customer_id': ...",[],34749,1,замена учителя на праздники,None,3,1,[226],2020-01-03 17:00:01,2020-01-03 18:00:00,,2020-01,2020
2257,4,[26387],2020-01-02,"[{'id': 23336, 'branch_id': 4, 'customer_id': ...",[],35873,1,,None,3,1,[378],2020-01-02 22:00:01,2020-01-02 23:00:00,,2020-01,2020
2258,4,[25610],2020-01-02,"[{'id': 23335, 'branch_id': 4, 'customer_id': ...",[],35872,1,,None,3,1,[291],2020-01-02 20:00:01,2020-01-02 21:00:00,,2020-01,2020
2259,4,[24367],2020-01-02,"[{'id': 23334, 'branch_id': 4, 'customer_id': ...",[],35871,1,,None,3,3,[422],2020-01-02 18:00:01,2020-01-02 19:00:00,,2020-01,2020
2260,4,[31536],2020-01-02,"[{'id': 23333, 'branch_id': 4, 'customer_id': ...",[],35870,1,,None,3,3,[422],2020-01-02 17:00:01,2020-01-02 18:00:00,,2020-01,2020
2261,4,[29664],2020-01-02,"[{'id': 23332, 'branch_id': 4, 'customer_id': ...",[],35869,1,,None,3,1,[378],2020-01-02 12:00:01,2020-01-02 13:00:00,,2020-01,2020
2262,4,[34608],2020-01-02,"[{'id': 23330, 'branch_id': 4, 'customer_id': ...",[],35867,1,,None,3,1,[282],2020-01-02 08:00:01,2020-01-02 09:00:00,,2020-01,2020
2263,4,[35632],2020-01-02,"[{'id': 23327, 'branch_id': 4, 'customer_id': ...",[],35832,1,,None,3,1,[278],2020-01-02 19:00:01,2020-01-02 20:00:00,,2020-01,2020
2264,4,[33158],2020-01-02,"[{'id': 23321, 'branch_id': 4, 'customer_id': ...",[],35805,1,,None,3,3,[422],2020-01-02 11:00:01,2020-01-02 12:00:00,,2020-01,2020
2265,4,[33752],2020-01-02,"[{'id': 23329, 'branch_id': 4, 'customer_id': ...",[],35693,1,,None,3,1,[282],2020-01-02 14:00:01,2020-01-02 15:00:00,,2020-01,2020
2266,4,[26350],2020-01-02,"[{'id': 23324, 'branch_id': 4, 'customer_id': ...",[],35557,1,разовая замена на праздники,None,3,1,[278],2020-01-02 12:00:01,2020-01-02 13:00:00,,2020-01,2020
2267,4,[34954],2020-01-02,"[{'id': 23328, 'branch_id': 4, 'customer_id': ...",[],35307,1,,None,3,1,[378],2020-01-02 20:00:01,2020-01-02 21:00:00,,2020-01,2020
2268,4,[25602],2020-01-02,"[{'id': 23325, 'branch_id': 4, 'customer_id': ...",[],34960,1,учитель не вышел на урок,None,3,1,[278],2020-01-02 11:00:01,2020-01-02 12:00:00,,2020-01,2020
2269,4,[30124],2020-01-01,"[{'id': 23320, 'branch_id': 4, 'customer_id': ...",[],35821,1,,None,3,1,[278],2020-01-01 19:00:01,2020-01-01 20:00:00,,2020-01,2020
2270,4,[6350],2020-01-01,"[{'id': 23319, 'branch_id': 4, 'customer_id': ...",[],35820,1,,None,3,1,[25],2020-01-01 17:00:01,2020-01-01 18:00:00,,2020-01,2020

In [306]:
select.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2271 entries, 0 to 2270
Data columns (total 17 columns):
branch_id         2271 non-null int64
customer_ids      2271 non-null object
date              2271 non-null object
details           2271 non-null object
group_ids         2271 non-null object
id                2271 non-null int64
lesson_type_id    2271 non-null int64
note              2271 non-null object
room_id           0 non-null object
status            2271 non-null int64
subject_id        2271 non-null int64
teacher_ids       2271 non-null object
time_from         2271 non-null object
time_to           2271 non-null object
topic             2271 non-null object
date-month        2271 non-null object
year              2271 non-null object
dtypes: int64(5), object(12)
memory usage: 319.4+ KB

In [307]:
select.iloc[0:1]

,branch_id,customer_ids,date,details,group_ids,id,lesson_type_id,note,room_id,status,subject_id,teacher_ids,time_from,time_to,topic,date-month,year
0,4,[26564],2020-02-21,"[{'id': 26557, 'branch_id': 4, 'customer_id': ...",[],40811,1,,None,3,1,[225],2020-02-21 18:00:01,2020-02-21 19:00:00,,2020-02,2020

In [308]:
select.iloc[552:553]

,branch_id,customer_ids,date,details,group_ids,id,lesson_type_id,note,room_id,status,subject_id,teacher_ids,time_from,time_to,topic,date-month,year
552,4,[32869],2020-02-10,"[{'id': 25792, 'branch_id': 4, 'customer_id': ...",[],39687,1,,None,3,2,[214],2020-02-10 20:00:01,2020-02-10 21:00:00,,2020-02,2020

In [309]:
select['details'][552][0]

{'id': 25792,
 'branch_id': 4,
 'customer_id': 32869,
 'lesson_id': 39687,
 'ctt_id': None,
 'reason_id': None,
 'is_attend': 1,
 'commission': '998.00',
 'grade': '',
 'bonus': None,
 'note': ''}

In [310]:
select['id_2'] = select['details'].apply(lambda x: x[0]['id'])

In [311]:
select['customer_id'] = select['details'].apply(lambda x: x[0]['customer_id'])
select['lesson_id'] = select['details'].apply(lambda x: x[0]['lesson_id'])
select['reason_id'] = select['details'].apply(lambda x: x[0]['reason_id'])
select['is_attend'] = select['details'].apply(lambda x: x[0]['is_attend'])
select['grade'] = select['details'].apply(lambda x: x[0]['grade'])
select['bonus'] = select['details'].apply(lambda x: x[0]['bonus'])
select['note'] = select['details'].apply(lambda x: x[0]['note'])
select['ctt_id'] = select['details'].apply(lambda x: x[0]['ctt_id'])
select['commission'] = select['details'].apply(lambda x: x[0]['commission'])

In [312]:
select['price'] = select['commission'].apply(lambda x: float(x))

In [313]:
select[select['customer_id'] == 33687]

Empty DataFrame
Columns: [branch_id, customer_ids, date, details, group_ids, id, lesson_type_id, note, room_id, status, subject_id, teacher_ids, time_from, time_to, topic, date-month, year, id_2, customer_id, lesson_id, reason_id, is_attend, grade, bonus, ctt_id, commission, price]
Index: []

[0 rows x 27 columns]

In [314]:
select['price'].sum()

1659999.8

In [315]:
select.groupby(by='lesson_type_id')['lesson_type_id'].count()

lesson_type_id
1    2223
4      35
5      13
Name: lesson_type_id, dtype: int64

In [316]:
select[select['is_attend'] == 1].groupby(by='lesson_type_id')['lesson_type_id'].count()

lesson_type_id
1    1967
4      27
5      11
Name: lesson_type_id, dtype: int64

In [317]:
select[select['price'] > 0]

,branch_id,customer_ids,date,details,group_ids,id,lesson_type_id,note,room_id,status,...,id_2,customer_id,lesson_id,reason_id,is_attend,grade,bonus,ctt_id,commission,price
0,4,[26564],2020-02-21,"[{'id': 26557, 'branch_id': 4, 'customer_id': ...",[],40811,1,не вышла,None,3,...,26557,26564,40811,7.0,0,,None,NaN,849.50,849.50
1,4,[31427],2020-02-21,"[{'id': 26554, 'branch_id': 4, 'customer_id': ...",[],40803,1,проблема с интернетом,None,3,...,26554,31427,40803,8.0,0,,None,NaN,899.00,899.00
2,4,[34781],2020-02-21,"[{'id': 26540, 'branch_id': 4, 'customer_id': ...",[],40773,1,Оименил за 20 мин до урока,None,3,...,26540,34781,40773,7.0,0,,None,NaN,780.00,780.00
6,4,[26387],2020-02-20,"[{'id': 26538, 'branch_id': 4, 'customer_id': ...",[],40763,1,,None,3,...,26538,26387,40763,NaN,1,,None,NaN,750.00,750.00
7,4,[36404],2020-02-20,"[{'id': 26537, 'branch_id': 4, 'customer_id': ...",[],40762,1,,None,3,...,26537,36404,40762,NaN,1,,None,NaN,998.00,998.00
8,4,[21506],2020-02-20,"[{'id': 26536, 'branch_id': 4, 'customer_id': ...",[],40761,1,,None,3,...,26536,21506,40761,NaN,1,,None,NaN,899.00,899.00
9,4,[35779],2020-02-20,"[{'id': 26535, 'branch_id': 4, 'customer_id': ...",[],40760,1,,None,3,...,26535,35779,40760,NaN,1,,None,NaN,750.00,750.00
11,4,[29697],2020-02-20,"[{'id': 26533, 'branch_id': 4, 'customer_id': ...",[],40758,1,,None,3,...,26533,29697,40758,NaN,1,,None,NaN,998.00,998.00
12,4,[18953],2020-02-20,"[{'id': 26532, 'branch_id': 4, 'customer_id': ...",[],40757,1,,None,3,...,26532,18953,40757,NaN,1,,None,NaN,750.00,750.00
13,4,[37460],2020-02-20,"[{'id': 26531, 'branch_id': 4, 'customer_id': ...",[],40756,1,,None,3,...,26531,37460,40756,NaN,1,,None,NaN,831.66,831.66
14,4,[36910],2020-02-20,"[{'id': 26530, 'branch_id': 4, 'customer_id': ...",[],40755,1,,None,3,...,26530,36910,40755,NaN,1,,None,NaN,680.00,680.00
15,4,[15629],2020-02-20,"[{'id': 26529, 'branch_id': 4, 'customer_id': ...",[],40754,1,,None,3,...,26529,15629,40754,NaN,1,,None,NaN,849.50,849.50
16,4,[32899],2020-02-20,"[{'id': 26528, 'branch_id': 4, 'customer_id': ...",[],40753,1,,None,3,...,26528,32899,40753,NaN,1,,None,NaN,738.69,738.69
17,4,[24281],2020-02-20,"[{'id': 26527, 'branch_id': 4, 'customer_id': ...",[],40752,1,,None,3,...,26527,24281,40752,NaN,1,,None,NaN,899.00,899.00
18,4,[36361],2020-02-20,"[{'id': 26526, 'branch_id': 4, 'customer_id': ...",[],40751,1,,None,3,...,26526,36361,40751,NaN,1,,None,NaN,772.27,772.27
19,4,[32138],2020-02-20,"[{'id': 26525, 'branch_id': 4, 'customer_id': ...",[],40750,1,,None,3,...,26525,32138,40750,NaN,1,,None,NaN,750.00,750.00
20,4,[30307],2020-02-20,"[{'id': 26524, 'branch_id': 4, 'customer_id': ...",[],40749,1,,None,3,...,26524,30307,40749,NaN,1,,None,NaN,849.50,849.50
21,4,[22967],2020-02-20,"[{'id': 26523, 'branch_id': 4, 'customer_id': ...",[],40748,1,,None,3,...,26523,22967,40748,NaN,1,,None,NaN,559.75,559.75
23,4,[24367],2020-02-20,"[{'id': 26521, 'branch_id': 4, 'customer_id': ...",[],40746,1,,None,3,...,26521,24367,40746,NaN,1,,None,NaN,998.00,998.00
24,4,[32782],2020-02-20,"[{'id': 26520, 'branch_id': 4, 'customer_id': ...",[],40745,1,,None,3,...,26520,32782,40745,NaN,1,,None,NaN,700.00,700.00
25,4,[18523],2020-02-20,"[{'id': 26519, 'branch_id': 4, 'customer_id': ...",[],40744,1,,None,3,...,26519,18523,40744,NaN,1,,None,NaN,515.00,515.00
26,4,[18960],2020-02-20,"[{'id': 26518, 'branch_id': 4, 'customer_id': ...",[],40743,1,,None,3,...,26518,18960,40743,NaN,1,,None,NaN,515.00,515.00
27,4,[36730],2020-02-20,"[{'id': 26517, 'branch_id': 4, 'customer_id': ...",[],40742,1,,None,3,...,26517,36730,40742,NaN,1,,None,NaN,831.66,831.66
28,4,[37219],2020-02-20,"[{'id': 26516, 'branch_id': 4, 'customer_id': ...",[],40741,1,,None,3,...,26516,37219,40741,NaN,1,,None,NaN,998.00,998.00
29,4,[31536],2020-02-20,"[{'id': 26515, 'branch_id': 4, 'customer_id': ...",[],40740,1,,None,3,...,26515,31536,40740,NaN,1,,None,NaN,750.00,750.00
30,4,[9075],2020-02-20,"[{'id': 26514, 'branch_id': 4, 'customer_id': ...",[],40739,1,,None,3,...,26514,9075,40739,NaN,1,,None,NaN,849.50,849.50
31,4,[9130],2020-02-20,"[{'id': 26513, 'branch_id': 4, 'customer_id': ...",[],40738,1,,None,3,...,26513,9130,40738,NaN,1,,None,NaN,998.00,998.00
32,4,[37153],2020-02-20,"[{'id': 26512, 'branch_id': 4, 'customer_id': ...",[],40737,1,,None,3,...,26512,37153,40737,NaN,1,,None,NaN,499.00,499.00
34,4,[32094],2020-02-20,"[{'id': 26510, 'branch_id': 4, 'customer_id': ...",[],40735,1,,None,3,...,26510,32094,40735,NaN,1,,None,NaN,749.77,749.77
35,4,[12523],2020-02-20,"[{'id': 26509, 'branch_id': 4, 'customer_id': ...",[],40734,1,,None,3,...,26509,12523,40734,NaN,1,,None,NaN,899.00,899.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2234,4,[35632],2020-01-04,"[{'id': 23518, 'branch_id': 4, 'customer_id': ...",[],36172,1,,None,3,...,23518,35632,36172,NaN,1,,None,NaN,899.00,899.00
2235,4,[26387],2020-01-04,"[{'id': 23371, 'branch_id': 4, 'customer_id': ...",[],35933,1,,None,3,...,23371,26387,35933,NaN,1,,None,NaN,750.00,750.00
2236,4,[27419],2020-01-04,"[{'id': 23370, 'branch_id': 4, 'customer_id': ...",[],35932,1,,None,3,...,23370,27419,35932,NaN,1,,None,NaN,785.47,785.47
2237,4,[24354],2020-01-04,"[{'id': 23369, 'branch_id': 4, 'customer_id': ...",[],35931,1,,None,3,...,23369,24354,35931,NaN,1,,None,NaN,998.00,998.00
2238,4,[22020],2020-01-04,"[{'id': 23368, 'branch_id': 4, 'customer_id': ...",[],35930,1,,None,3,...,23368,22020,35930,NaN,1,,None,NaN,558.33,558.33
2239,4,[22020],2020-01-04,"[{'id': 23367, 'branch_id': 4, 'customer_id': ...",[],35929,1,,None,3,...,23367,22020,35929,NaN,1,,None,NaN,558.33,558.33
2240,4,[29993],2020-01-04,"[{'id': 23366, 'branch_id': 4, 'customer_id': ...",[],35928,1,,None,3,...,23366,29993,35928,NaN,1,,None,NaN,899.00,899.00
2241,4,[21107],2020-01-04,"[{'id': 23365, 'branch_id': 4, 'customer_id': ...",[],35927,1,,None,3,...,23365,21107,35927,NaN,1,,None,NaN,998.00,998.00
2242,4,[197],2020-01-04,"[{'id': 23364, 'branch_id': 4, 'customer_id': ...",[],35926,1,,None,3,...,23364,197,35926,NaN,1,,None,NaN,750.00,750.00
2243,4,[32449],2020-01-04,"[{'id': 23363, 'branch_id': 4, 'customer_id': ...",[],35925,1,,None,3,...,23363,32449,35925,NaN,1,,None,NaN,749.16,749.16
2244,4,[33565],2020-01-04,"[{'id': 23362, 'branch_id': 4, 'customer_id': ...",[],35924,1,,None,3,...,23362,33565,35924,NaN,1,,None,NaN,998.00,998.00
2245,4,[33896],2020-01-04,"[{'id': 23353, 'branch_id': 4, 'customer_id': ...",[],35920,1,"Не вышла, без предварительного уведомления",None,3,...,23353,33896,35920,7.0,0,,None,NaN,998.00,998.00
2246,4,[28293],2020-01-04,"[{'id': 23352, 'branch_id': 4, 'customer_id': ...",[],35917,1,,None,3,...,23352,28293,35917,7.0,0,,None,NaN,899.00,899.00
2247,4,[35320],2020-01-04,"[{'id': 23358, 'branch_id': 4, 'customer_id': ...",[],35863,1,,None,3,...,23358,35320,35863,NaN,1,,None,NaN,998.00,998.00
2248,4,[29958],2020-01-04,"[{'id': 23357, 'branch_id': 4, 'customer_id': ...",[],35844,1,,None,3,...,23357,29958,35844,NaN,1,,None,NaN,749.77,749.77
2249,4,[26350],2020-01-04,"[{'id': 23360, 'branch_id': 4, 'customer_id': ...",[],35558,1,,None,3,...,23360,26350,35558,NaN,1,,None,NaN,750.00,750.00
2250,4,[34954],2020-01-04,"[{'id': 23361, 'branch_id': 4, 'customer_id': ...",[],35308,1,,None,3,...,23361,34954,35308,NaN,1,,None,NaN,817.27,817.27
2251,4,[30739],2020-01-04,"[{'id': 23359, 'branch_id': 4, 'customer_id': ...",[],35282,1,,None,3,...,23359,30739,35282,NaN,1,,None,NaN,750.00,750.00
2252,4,[27419],2020-01-03,"[{'id': 23346, 'branch_id': 4, 'customer_id': ...",[],35900,1,,None,3,...,23346,27419,35900,NaN,1,,None,NaN,785.47,785.47
2254,4,[12741],2020-01-03,"[{'id': 23345, 'branch_id': 4, 'customer_id': ...",[],35823,1,,None,3,...,23345,12741,35823,NaN,1,,None,NaN,899.00,899.00
2255,4,[32278],2020-01-03,"[{'id': 23343, 'branch_id': 4, 'customer_id': ...",[],35413,1,,None,3,...,23343,32278,35413,NaN,1,,None,NaN,738.69,738.69
2256,4,[32774],2020-01-03,"[{'id': 23344, 'branch_id': 4, 'customer_id': ...",[],34749,1,,None,3,...,23344,32774,34749,NaN,1,,None,NaN,749.16,749.16
2258,4,[25610],2020-01-02,"[{'id': 23335, 'branch_id': 4, 'customer_id': ...",[],35872,1,,None,3,...,23335,25610,35872,NaN,1,,None,NaN,849.50,849.50
2259,4,[24367],2020-01-02,"[{'id': 23334, 'branch_id': 4, 'customer_id': ...",[],35871,1,,None,3,...,23334,24367,35871,NaN,1,,None,NaN,772.27,772.27
2260,4,[31536],2020-01-02,"[{'id': 23333, 'branch_id': 4, 'customer_id': ...",[],35870,1,,None,3,...,23333,31536,35870,NaN,1,,None,NaN,750.00,750.00
2261,4,[29664],2020-01-02,"[{'id': 23332, 'branch_id': 4, 'customer_id': ...",[],35869,1,,None,3,...,23332,29664,35869,NaN,1,,None,NaN,998.00,998.00
2262,4,[34608],2020-01-02,"[{'id': 23330, 'branch_id': 4, 'customer_id': ...",[],35867,1,,None,3,...,23330,34608,35867,NaN,1,,None,NaN,772.27,772.27
2265,4,[33752],2020-01-02,"[{'id': 23329, 'branch_id': 4, 'customer_id': ...",[],35693,1,,None,3,...,23329,33752,35693,NaN,1,,None,NaN,780.00,780.00
2267,4,[34954],2020-01-02,"[{'id': 23328, 'branch_id': 4, 'customer_id': ...",[],35307,1,Проинформировал об отмене 19.30,None,3,...,23328,34954,35307,7.0,0,,None,NaN,817.27,817.27
2270,4,[6350],2020-01-01,"[{'id': 23319, 'branch_id': 4, 'customer_id': ...",[],35820,1,ученица не выходила на урок,None,3,...,23319,6350,35820,7.0,0,,None,NaN,899.00,899.00

In [318]:
select.groupby(by='lesson_type_id')['price'].sum()

lesson_type_id
1    1659999.8
4          0.0
5          0.0
Name: price, dtype: float64

In [319]:
select.groupby(by='subject_id')['price'].sum()

subject_id
1    1376833.15
2     162323.10
3     120843.55
Name: price, dtype: float64

In [320]:
select.groupby(by='year')['price'].sum()

year
2020    1659999.8
Name: price, dtype: float64

In [321]:
select[(select['date-month'] == '2020-01') & (select['price'] > 0)].groupby(by='lesson_type_id')['lesson_type_id'].count()

lesson_type_id
1    1126
Name: lesson_type_id, dtype: int64

In [322]:
select[(select['date-month'] == '2020-01') & (select['price'] > 0)].groupby(by='subject_id')['price'].count()

subject_id
1    945
2    109
3     72
Name: price, dtype: int64

In [323]:
def convert_id_to_type(x):
    types = ['', 'One-on-one', '', 'Intro', 'Free of Charge', 'Group']
    return types[x]

def convert_id_to_subject(x):
    subjects = ['', 'English', 'Math', 'Russian']
    return subjects[x]

select['LESSON TYPE'] = select['lesson_type_id'].apply(convert_id_to_type)
select['SUBJECT'] = select['subject_id'].apply(convert_id_to_subject)
select

,branch_id,customer_ids,date,details,group_ids,id,lesson_type_id,note,room_id,status,...,lesson_id,reason_id,is_attend,grade,bonus,ctt_id,commission,price,LESSON TYPE,SUBJECT
0,4,[26564],2020-02-21,"[{'id': 26557, 'branch_id': 4, 'customer_id': ...",[],40811,1,не вышла,None,3,...,40811,7.0,0,,None,NaN,849.50,849.50,One-on-one,English
1,4,[31427],2020-02-21,"[{'id': 26554, 'branch_id': 4, 'customer_id': ...",[],40803,1,проблема с интернетом,None,3,...,40803,8.0,0,,None,NaN,899.00,899.00,One-on-one,English
2,4,[34781],2020-02-21,"[{'id': 26540, 'branch_id': 4, 'customer_id': ...",[],40773,1,Оименил за 20 мин до урока,None,3,...,40773,7.0,0,,None,NaN,780.00,780.00,One-on-one,English
3,4,[19303],2020-02-21,"[{'id': 26539, 'branch_id': 4, 'customer_id': ...",[],40764,1,написала в ВА в 3:15,None,3,...,40764,5.0,0,,None,NaN,0.00,0.00,One-on-one,English
4,4,[37459],2020-02-21,"[{'id': 26552, 'branch_id': 4, 'customer_id': ...",[],40677,1,,None,3,...,40677,NaN,1,,None,NaN,0.00,0.00,One-on-one,English
5,4,[24409],2020-02-21,"[{'id': 26543, 'branch_id': 4, 'customer_id': ...",[],38309,1,,None,3,...,38309,5.0,0,,None,NaN,0.00,0.00,One-on-one,English
6,4,[26387],2020-02-20,"[{'id': 26538, 'branch_id': 4, 'customer_id': ...",[],40763,1,,None,3,...,40763,NaN,1,,None,NaN,750.00,750.00,One-on-one,English
7,4,[36404],2020-02-20,"[{'id': 26537, 'branch_id': 4, 'customer_id': ...",[],40762,1,,None,3,...,40762,NaN,1,,None,NaN,998.00,998.00,One-on-one,English
8,4,[21506],2020-02-20,"[{'id': 26536, 'branch_id': 4, 'customer_id': ...",[],40761,1,,None,3,...,40761,NaN,1,,None,NaN,899.00,899.00,One-on-one,English
9,4,[35779],2020-02-20,"[{'id': 26535, 'branch_id': 4, 'customer_id': ...",[],40760,1,,None,3,...,40760,NaN,1,,None,NaN,750.00,750.00,One-on-one,English
10,4,[37570],2020-02-20,"[{'id': 26534, 'branch_id': 4, 'customer_id': ...",[],40759,1,,None,3,...,40759,NaN,1,,None,NaN,0.00,0.00,One-on-one,English
11,4,[29697],2020-02-20,"[{'id': 26533, 'branch_id': 4, 'customer_id': ...",[],40758,1,,None,3,...,40758,NaN,1,,None,NaN,998.00,998.00,One-on-one,Math
12,4,[18953],2020-02-20,"[{'id': 26532, 'branch_id': 4, 'customer_id': ...",[],40757,1,,None,3,...,40757,NaN,1,,None,NaN,750.00,750.00,One-on-one,English
13,4,[37460],2020-02-20,"[{'id': 26531, 'branch_id': 4, 'customer_id': ...",[],40756,1,,None,3,...,40756,NaN,1,,None,NaN,831.66,831.66,One-on-one,English
14,4,[36910],2020-02-20,"[{'id': 26530, 'branch_id': 4, 'customer_id': ...",[],40755,1,,None,3,...,40755,NaN,1,,None,NaN,680.00,680.00,One-on-one,English
15,4,[15629],2020-02-20,"[{'id': 26529, 'branch_id': 4, 'customer_id': ...",[],40754,1,,None,3,...,40754,NaN,1,,None,NaN,849.50,849.50,One-on-one,English
16,4,[32899],2020-02-20,"[{'id': 26528, 'branch_id': 4, 'customer_id': ...",[],40753,1,,None,3,...,40753,NaN,1,,None,NaN,738.69,738.69,One-on-one,English
17,4,[24281],2020-02-20,"[{'id': 26527, 'branch_id': 4, 'customer_id': ...",[],40752,1,,None,3,...,40752,NaN,1,,None,NaN,899.00,899.00,One-on-one,English
18,4,[36361],2020-02-20,"[{'id': 26526, 'branch_id': 4, 'customer_id': ...",[],40751,1,,None,3,...,40751,NaN,1,,None,NaN,772.27,772.27,One-on-one,English
19,4,[32138],2020-02-20,"[{'id': 26525, 'branch_id': 4, 'customer_id': ...",[],40750,1,,None,3,...,40750,NaN,1,,None,NaN,750.00,750.00,One-on-one,English
20,4,[30307],2020-02-20,"[{'id': 26524, 'branch_id': 4, 'customer_id': ...",[],40749,1,,None,3,...,40749,NaN,1,,None,NaN,849.50,849.50,One-on-one,Russian
21,4,[22967],2020-02-20,"[{'id': 26523, 'branch_id': 4, 'customer_id': ...",[],40748,1,,None,3,...,40748,NaN,1,,None,NaN,559.75,559.75,One-on-one,English
22,4,[19013],2020-02-20,"[{'id': 26522, 'branch_id': 4, 'customer_id': ...",[],40747,1,Тех проблемы.,None,3,...,40747,10.0,0,,None,NaN,0.00,0.00,One-on-one,English
23,4,[24367],2020-02-20,"[{'id': 26521, 'branch_id': 4, 'customer_id': ...",[],40746,1,,None,3,...,40746,NaN,1,,None,NaN,998.00,998.00,One-on-one,Russian
24,4,[32782],2020-02-20,"[{'id': 26520, 'branch_id': 4, 'customer_id': ...",[],40745,1,,None,3,...,40745,NaN,1,,None,NaN,700.00,700.00,One-on-one,English
25,4,[18523],2020-02-20,"[{'id': 26519, 'branch_id': 4, 'customer_id': ...",[],40744,1,,None,3,...,40744,NaN,1,,None,NaN,515.00,515.00,One-on-one,English
26,4,[18960],2020-02-20,"[{'id': 26518, 'branch_id': 4, 'customer_id': ...",[],40743,1,,None,3,...,40743,NaN,1,,None,NaN,515.00,515.00,One-on-one,English
27,4,[36730],2020-02-20,"[{'id': 26517, 'branch_id': 4, 'customer_id': ...",[],40742,1,,None,3,...,40742,NaN,1,,None,NaN,831.66,831.66,One-on-one,English
28,4,[37219],2020-02-20,"[{'id': 26516, 'branch_id': 4, 'customer_id': ...",[],40741,1,,None,3,...,40741,NaN,1,,None,NaN,998.00,998.00,One-on-one,Russian
29,4,[31536],2020-02-20,"[{'id': 26515, 'branch_id': 4, 'customer_id': ...",[],40740,1,,None,3,...,40740,NaN,1,,None,NaN,750.00,750.00,One-on-one,Russian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2241,4,[21107],2020-01-04,"[{'id': 23365, 'branch_id': 4, 'customer_id': ...",[],35927,1,,None,3,...,35927,NaN,1,,None,NaN,998.00,998.00,One-on-one,Math
2242,4,[197],2020-01-04,"[{'id': 23364, 'branch_id': 4, 'customer_id': ...",[],35926,1,,None,3,...,35926,NaN,1,,None,NaN,750.00,750.00,One-on-one,English
2243,4,[32449],2020-01-04,"[{'id': 23363, 'branch_id': 4, 'customer_id': ...",[],35925,1,,None,3,...,35925,NaN,1,,None,NaN,749.16,749.16,One-on-one,English
2244,4,[33565],2020-01-04,"[{'id': 23362, 'branch_id': 4, 'customer_id': ...",[],35924,1,,None,3,...,35924,NaN,1,,None,NaN,998.00,998.00,One-on-one,English
2245,4,[33896],2020-01-04,"[{'id': 23353, 'branch_id': 4, 'customer_id': ...",[],35920,1,"Не вышла, без предварительного уведомления",None,3,...,35920,7.0,0,,None,NaN,998.00,998.00,One-on-one,English
2246,4,[28293],2020-01-04,"[{'id': 23352, 'branch_id': 4, 'customer_id': ...",[],35917,1,,None,3,...,35917,7.0,0,,None,NaN,899.00,899.00,One-on-one,Math
2247,4,[35320],2020-01-04,"[{'id': 23358, 'branch_id': 4, 'customer_id': ...",[],35863,1,,None,3,...,35863,NaN,1,,None,NaN,998.00,998.00,One-on-one,English
2248,4,[29958],2020-01-04,"[{'id': 23357, 'branch_id': 4, 'customer_id': ...",[],35844,1,,None,3,...,35844,NaN,1,,None,NaN,749.77,749.77,One-on-one,Math
2249,4,[26350],2020-01-04,"[{'id': 23360, 'branch_id': 4, 'customer_id': ...",[],35558,1,,None,3,...,35558,NaN,1,,None,NaN,750.00,750.00,One-on-one,English
2250,4,[34954],2020-01-04,"[{'id': 23361, 'branch_id': 4, 'customer_id': ...",[],35308,1,,None,3,...,35308,NaN,1,,None,NaN,817.27,817.27,One-on-one,English
2251,4,[30739],2020-01-04,"[{'id': 23359, 'branch_id': 4, 'customer_id': ...",[],35282,1,,None,3,...,35282,NaN,1,,None,NaN,750.00,750.00,One-on-one,English
2252,4,[27419],2020-01-03,"[{'id': 23346, 'branch_id': 4, 'customer_id': ...",[],35900,1,,None,3,...,35900,NaN,1,,None,NaN,785.47,785.47,One-on-one,English
2253,4,[10350],2020-01-03,"[{'id': 23342, 'branch_id': 4, 'customer_id': ...",[],35865,1,ЭТОТ УРОК БЫЛ ПРОВЕДЕН,None,3,...,35865,5.0,0,,None,NaN,0.00,0.00,One-on-one,English
2254,4,[12741],2020-01-03,"[{'id': 23345, 'branch_id': 4, 'customer_id': ...",[],35823,1,,None,3,...,35823,NaN,1,,None,NaN,899.00,899.00,One-on-one,English
2255,4,[32278],2020-01-03,"[{'id': 23343, 'branch_id': 4, 'customer_id': ...",[],35413,1,,None,3,...,35413,NaN,1,,None,NaN,738.69,738.69,One-on-one,English
2256,4,[32774],2020-01-03,"[{'id': 23344, 'branch_id': 4, 'customer_id': ...",[],34749,1,,None,3,...,34749,NaN,1,,None,NaN,749.16,749.16,One-on-one,English
2257,4,[26387],2020-01-02,"[{'id': 23336, 'branch_id': 4, 'customer_id': ...",[],35873,1,системная ошибка на платформе,None,3,...,35873,10.0,0,,None,NaN,0.00,0.00,One-on-one,English
2258,4,[25610],2020-01-02,"[{'id': 23335, 'branch_id': 4, 'customer_id': ...",[],35872,1,,None,3,...,35872,NaN,1,,None,NaN,849.50,849.50,One-on-one,English
2259,4,[24367],2020-01-02,"[{'id': 23334, 'branch_id': 4, 'customer_id': ...",[],35871,1,,None,3,...,35871,NaN,1,,None,NaN,772.27,772.27,One-on-one,Russian
2260,4,[31536],2020-01-02,"[{'id': 23333, 'branch_id': 4, 'customer_id': ...",[],35870,1,,None,3,...,35870,NaN,1,,None,NaN,750.00,750.00,One-on-one,Russian
2261,4,[29664],2020-01-02,"[{'id': 23332, 'branch_id': 4, 'customer_id': ...",[],35869,1,,None,3,...,35869,NaN,1,,None,NaN,998.00,998.00,One-on-one,English
2262,4,[34608],2020-01-02,"[{'id': 23330, 'branch_id': 4, 'customer_id': ...",[],35867,1,,None,3,...,35867,NaN,1,,None,NaN,772.27,772.27,One-on-one,English
2263,4,[35632],2020-01-02,"[{'id': 23327, 'branch_id': 4, 'customer_id': ...",[],35832,1,,None,3,...,35832,11.0,0,,None,NaN,0.00,0.00,One-on-one,English
2264,4,[33158],2020-01-02,"[{'id': 23321, 'branch_id': 4, 'customer_id': ...",[],35805,1,ученица не смогла пройти урок из-за всплывающе...,None,3,...,35805,5.0,0,,None,NaN,0.00,0.00,One-on-one,Russian
2265,4,[33752],2020-01-02,"[{'id': 23329, 'branch_id': 4, 'customer_id': ...",[],35693,1,,None,3,...,35693,NaN,1,,None,NaN,780.00,780.00,One-on-one,English
2266,4,[26350],2020-01-02,"[{'id': 23324, 'branch_id': 4, 'customer_id': ...",[],35557,1,Учитель не подключался.,None,3,...,35557,11.0,0,,None,NaN,0.00,0.00,One-on-one,English
2267,4,[34954],2020-01-02,"[{'id': 23328, 'branch_id': 4, 'customer_id': ...",[],35307,1,Проинформировал об отмене 19.30,None,3,...,35307,7.0,0,,None,NaN,817.27,817.27,One-on-one,English
2268,4,[25602],2020-01-02,"[{'id': 23325, 'branch_id': 4, 'customer_id': ...",[],34960,1,,None,3,...,34960,11.0,0,,None,NaN,0.00,0.00,One-on-one,English
2269,4,[30124],2020-01-01,"[{'id': 23320, 'branch_id': 4, 'customer_id': ...",[],35821,1,,None,3,...,35821,11.0,0,,None,NaN,0.00,0.00,One-on-one,English
2270,4,[6350],2020-01-01,"[{'id': 23319, 'branch_id': 4, 'customer_id': ...",[],35820,1,ученица не выходила на урок,None,3,...,35820,7.0,0,,None,NaN,899.00,899.00,One-on-one,English

In [324]:
len(select[select['date-month'] == '2020-01']['customer_id'].unique())

249

In [325]:
out = select[select['date-month'] == '2020-01'].groupby(by='subject_id')['customer_id'].nunique()
out

subject_id
1    218
2     23
3     15
Name: customer_id, dtype: int64

In [327]:
select[select['date-month'] == '2020-01'].groupby(by='subject_id')['customer_id'].count()

subject_id
1    1049
2     117
3      81
Name: customer_id, dtype: int64

In [328]:
out = select[select['date-month'] == '2020-01'].groupby(by='subject_id')['customer_id'].count()
print(out)

subject_id
1    1049
2     117
3      81
Name: customer_id, dtype: int64

In [329]:
# Do Not count on 'is_attend'. Consider filtering based on price (since it is real revenue).
select.groupby(by='is_attend')['is_attend'].count()

is_attend
0     266
1    2005
Name: is_attend, dtype: int64

In [330]:
select[select['date-month'] == '2020-01'].groupby(by='price')['price'].count()

price
0.00      121
398.66      7
413.53      4
415.00      1
448.50      2
452.55      3
476.03      6
486.73      5
500.00     10
508.86      3
514.04      2
515.00     76
530.93      1
531.75      5
533.09      3
558.33     11
559.75     20
581.64      1
590.00      2
599.50      5
650.00      3
669.00      3
680.00      9
690.00     37
700.00      9
738.69     48
749.16     73
749.77     16
750.00    106
772.27     25
780.00      9
785.47     16
817.27     29
824.75     35
831.66     33
849.50    122
899.00    191
998.00    195
Name: price, dtype: int64

In [331]:
select.groupby(by='status')['status'].count()

status
3    2271
Name: status, dtype: int64

In [332]:
select[select['is_attend'] == 0]

,branch_id,customer_ids,date,details,group_ids,id,lesson_type_id,note,room_id,status,...,lesson_id,reason_id,is_attend,grade,bonus,ctt_id,commission,price,LESSON TYPE,SUBJECT
0,4,[26564],2020-02-21,"[{'id': 26557, 'branch_id': 4, 'customer_id': ...",[],40811,1,не вышла,None,3,...,40811,7.0,0,,None,NaN,849.50,849.50,One-on-one,English
1,4,[31427],2020-02-21,"[{'id': 26554, 'branch_id': 4, 'customer_id': ...",[],40803,1,проблема с интернетом,None,3,...,40803,8.0,0,,None,NaN,899.00,899.00,One-on-one,English
2,4,[34781],2020-02-21,"[{'id': 26540, 'branch_id': 4, 'customer_id': ...",[],40773,1,Оименил за 20 мин до урока,None,3,...,40773,7.0,0,,None,NaN,780.00,780.00,One-on-one,English
3,4,[19303],2020-02-21,"[{'id': 26539, 'branch_id': 4, 'customer_id': ...",[],40764,1,написала в ВА в 3:15,None,3,...,40764,5.0,0,,None,NaN,0.00,0.00,One-on-one,English
5,4,[24409],2020-02-21,"[{'id': 26543, 'branch_id': 4, 'customer_id': ...",[],38309,1,,None,3,...,38309,5.0,0,,None,NaN,0.00,0.00,One-on-one,English
22,4,[19013],2020-02-20,"[{'id': 26522, 'branch_id': 4, 'customer_id': ...",[],40747,1,Тех проблемы.,None,3,...,40747,10.0,0,,None,NaN,0.00,0.00,One-on-one,English
52,4,[36128],2020-02-20,"[{'id': 26479, 'branch_id': 4, 'customer_id': ...",[],40714,1,ученица предупредила за час до начала урока,None,3,...,40714,7.0,0,,None,NaN,849.50,849.50,One-on-one,English
53,4,[32722],2020-02-20,"[{'id': 26468, 'branch_id': 4, 'customer_id': ...",[],40701,1,,None,3,...,40701,7.0,0,,None,NaN,849.50,849.50,One-on-one,English
54,4,[33269],2020-02-20,"[{'id': 26467, 'branch_id': 4, 'customer_id': ...",[],40696,1,,None,3,...,40696,5.0,0,,None,NaN,0.00,0.00,One-on-one,English
57,4,[35693],2020-02-20,"[{'id': 26460, 'branch_id': 4, 'customer_id': ...",[],40641,1,,None,3,...,40641,5.0,0,,None,NaN,0.00,0.00,One-on-one,English
58,4,[30739],2020-02-20,"[{'id': 26459, 'branch_id': 4, 'customer_id': ...",[],40640,1,ученица написала о переносе вечером 19.02,None,3,...,40640,5.0,0,,None,NaN,0.00,0.00,One-on-one,English
59,4,[25667],2020-02-20,"[{'id': 26458, 'branch_id': 4, 'customer_id': ...",[],40636,1,написала в Ва в 23.17,None,3,...,40636,5.0,0,,None,NaN,0.00,0.00,One-on-one,English
65,4,[35632],2020-02-20,"[{'id': 26474, 'branch_id': 4, 'customer_id': ...",[],40307,5,Не набралась группа,None,3,...,40307,5.0,0,,None,NaN,0.00,0.00,Group,English
71,4,[36544],2020-02-19,"[{'id': 26454, 'branch_id': 4, 'customer_id': ...",[],40631,1,,None,3,...,40631,5.0,0,,None,NaN,0.00,0.00,One-on-one,Russian
109,4,[13187],2020-02-19,"[{'id': 26394, 'branch_id': 4, 'customer_id': ...",[],40590,1,"неверно выставился статус урока, в связи с чем...",None,3,...,40590,10.0,0,,None,NaN,0.00,0.00,One-on-one,English
111,4,[37579],2020-02-19,"[{'id': 26393, 'branch_id': 4, 'customer_id': ...",[],40579,1,,None,3,...,40579,9.0,0,,None,NaN,0.00,0.00,One-on-one,Math
113,4,[12871],2020-02-19,"[{'id': 26385, 'branch_id': 4, 'customer_id': ...",[],40530,1,"сообщил, что не работает интернет",None,3,...,40530,7.0,0,,None,NaN,750.00,750.00,One-on-one,English
114,4,[11307],2020-02-19,"[{'id': 26383, 'branch_id': 4, 'customer_id': ...",[],40527,1,"проинформировала о переносе за 4,5 часа",None,3,...,40527,7.0,0,,None,NaN,899.00,899.00,One-on-one,English
117,4,[17266],2020-02-19,"[{'id': 26415, 'branch_id': 4, 'customer_id': ...",[],40406,4,,None,3,...,40406,5.0,0,,None,NaN,0.00,0.00,Free of Charge,Math
173,4,[26958],2020-02-18,"[{'id': 26319, 'branch_id': 4, 'customer_id': ...",[],40453,1,проинформировала за 15 минут до начала,None,3,...,40453,7.0,0,,None,NaN,899.00,899.00,One-on-one,English
175,4,[18969],2020-02-18,"[{'id': 26306, 'branch_id': 4, 'customer_id': ...",[],40407,1,проинформировал об отмене за 5 часов,None,3,...,40407,7.0,0,,None,NaN,515.00,515.00,One-on-one,English
177,4,[35024],2020-02-18,"[{'id': 26304, 'branch_id': 4, 'customer_id': ...",[],40403,1,предупредила об отмене урока за 5 50ч. оплату ...,None,3,...,40403,7.0,0,,None,NaN,0.00,0.00,One-on-one,English
178,4,[13696],2020-02-18,"[{'id': 26301, 'branch_id': 4, 'customer_id': ...",[],40396,1,проинформировала за 4 часа до начала урока,None,3,...,40396,7.0,0,,None,NaN,899.00,899.00,One-on-one,English
183,4,[11833],2020-02-18,"[{'id': 26332, 'branch_id': 4, 'customer_id': ...",[],36600,1,"не смогли соединиться, после загрузки видео вс...",None,3,...,36600,10.0,0,,None,NaN,0.00,0.00,One-on-one,English
185,4,[36404],2020-02-17,"[{'id': 26297, 'branch_id': 4, 'customer_id': ...",[],40382,1,в виде исключения списывать оплату не будем,None,3,...,40382,7.0,0,,None,NaN,0.00,0.00,One-on-one,English
231,4,[33785],2020-02-17,"[{'id': 26243, 'branch_id': 4, 'customer_id': ...",[],40335,1,тикет 8440,None,3,...,40335,10.0,0,,None,NaN,0.00,0.00,One-on-one,English
232,4,[33393],2020-02-17,"[{'id': 26224, 'branch_id': 4, 'customer_id': ...",[],40316,1,,None,3,...,40316,7.0,0,,None,NaN,738.69,738.69,One-on-one,English
233,4,[32650],2020-02-17,"[{'id': 26221, 'branch_id': 4, 'customer_id': ...",[],40309,1,,None,3,...,40309,7.0,0,,None,NaN,749.16,749.16,One-on-one,English
234,4,[35658],2020-02-17,"[{'id': 26219, 'branch_id': 4, 'customer_id': ...",[],40297,1,,None,3,...,40297,5.0,0,,None,NaN,0.00,0.00,One-on-one,English
235,4,[12968],2020-02-17,"[{'id': 26217, 'branch_id': 4, 'customer_id': ...",[],40286,1,предупредил за 4 часа до урока,None,3,...,40286,7.0,0,,None,NaN,599.50,599.50,One-on-one,English
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2134,4,[9130],2020-01-09,"[{'id': 23521, 'branch_id': 4, 'customer_id': ...",[],36181,1,не вышла на урок без информирования,None,3,...,36181,7.0,0,,None,NaN,998.00,998.00,One-on-one,Math
2135,4,[31552],2020-01-09,"[{'id': 23520, 'branch_id': 4, 'customer_id': ...",[],36175,1,,None,3,...,36175,7.0,0,,None,NaN,749.16,749.16,One-on-one,English
2136,4,[8576],2020-01-09,"[{'id': 23517, 'branch_id': 4, 'customer_id': ...",[],36167,1,,None,3,...,36167,5.0,0,,None,NaN,0.00,0.00,One-on-one,English
2140,4,[30246],2020-01-09,"[{'id': 23524, 'branch_id': 4, 'customer_id': ...",[],36011,1,проинформировала за 20 минут,None,3,...,36011,7.0,0,,None,NaN,899.00,899.00,One-on-one,English
2162,4,[30124],2020-01-08,"[{'id': 23484, 'branch_id': 4, 'customer_id': ...",[],36123,1,"Учитель узнал о переносе менее, чем за 6 часов...",None,3,...,36123,5.0,0,,None,NaN,0.00,0.00,One-on-one,English
2164,4,[25832],2020-01-08,"[{'id': 23476, 'branch_id': 4, 'customer_id': ...",[],36099,1,проинформировала о пропуске урока за 5 минут д...,None,3,...,36099,7.0,0,,None,NaN,508.86,508.86,One-on-one,English
2171,4,[33414],2020-01-08,"[{'id': 23480, 'branch_id': 4, 'customer_id': ...",[],35937,1,не вышел,None,3,...,35937,7.0,0,,None,NaN,998.00,998.00,One-on-one,English
2185,4,[34510],2020-01-07,"[{'id': 23451, 'branch_id': 4, 'customer_id': ...",[],36083,1,"ученица не вышла на урок, сохранение оплаты со...",None,3,...,36083,5.0,0,,None,NaN,0.00,0.00,One-on-one,Russian
2186,4,[34783],2020-01-07,"[{'id': 23449, 'branch_id': 4, 'customer_id': ...",[],36079,1,предупредил за час до урока,None,3,...,36079,7.0,0,,None,NaN,749.16,749.16,One-on-one,English
2187,4,[11833],2020-01-07,"[{'id': 23446, 'branch_id': 4, 'customer_id': ...",[],36058,1,,None,3,...,36058,5.0,0,,None,NaN,0.00,0.00,One-on-one,English
2190,4,[25817],2020-01-07,"[{'id': 23437, 'branch_id': 4, 'customer_id': ...",[],36033,1,Не вышел,None,3,...,36033,7.0,0,,None,NaN,690.00,690.00,One-on-one,English
2191,4,[33158],2020-01-07,"[{'id': 23435, 'branch_id': 4, 'customer_id': ...",[],36032,1,,None,3,...,36032,5.0,0,,None,NaN,0.00,0.00,One-on-one,Russian
2197,4,[33158],2020-01-07,"[{'id': 23436, 'branch_id': 4, 'customer_id': ...",[],35756,1,,None,3,...,35756,5.0,0,,None,NaN,0.00,0.00,One-on-one,Russian
2214,4,[6350],2020-01-06,"[{'id': 23414, 'branch_id': 4, 'customer_id': ...",[],36007,1,Тикет от преподавателя 7364,None,3,...,36007,10.0,0,,None,NaN,0.00,0.00,One-on-one,English
2215,4,[33626],2020-01-06,"[{'id': 23411, 'branch_id': 4, 'customer_id': ...",[],35976,1,"ученица заранее сообщала ПМ о переносе, но отв...",None,3,...,35976,5.0,0,,None,NaN,0.00,0.00,One-on-one,English
2216,4,[31552],2020-01-06,"[{'id': 23408, 'branch_id': 4, 'customer_id': ...",[],35975,1,Ученик уведомил за 1 час до урока.,None,3,...,35975,7.0,0,,None,NaN,749.16,749.16,One-on-one,English
2217,4,[18964],2020-01-06,"[{'id': 23402, 'branch_id': 4, 'customer_id': ...",[],35966,1,не вышел на урок,None,3,...,35966,7.0,0,,None,NaN,515.00,515.00,One-on-one,English
2220,4,[26350],2020-01-06,"[{'id': 23400, 'branch_id': 4, 'customer_id': ...",[],35559,1,,None,3,...,35559,5.0,0,,None,NaN,0.00,0.00,One-on-one,English
2229,4,[22020],2020-01-05,"[{'id': 23385, 'branch_id': 4, 'customer_id': ...",[],35953,1,"В течение всего урока связь обрывалась, больша...",None,3,...,35953,10.0,0,,None,NaN,0.00,0.00,One-on-one,English
2245,4,[33896],2020-01-04,"[{'id': 23353, 'branch_id': 4, 'customer_id': ...",[],35920,1,"Не вышла, без предварительного уведомления",None,3,...,35920,7.0,0,,None,NaN,998.00,998.00,One-on-one,English
2246,4,[28293],2020-01-04,"[{'id': 23352, 'branch_id': 4, 'customer_id': ...",[],35917,1,,None,3,...,35917,7.0,0,,None,NaN,899.00,899.00,One-on-one,Math
2253,4,[10350],2020-01-03,"[{'id': 23342, 'branch_id': 4, 'customer_id': ...",[],35865,1,ЭТОТ УРОК БЫЛ ПРОВЕДЕН,None,3,...,35865,5.0,0,,None,NaN,0.00,0.00,One-on-one,English
2257,4,[26387],2020-01-02,"[{'id': 23336, 'branch_id': 4, 'customer_id': ...",[],35873,1,системная ошибка на платформе,None,3,...,35873,10.0,0,,None,NaN,0.00,0.00,One-on-one,English
2263,4,[35632],2020-01-02,"[{'id': 23327, 'branch_id': 4, 'customer_id': ...",[],35832,1,,None,3,...,35832,11.0,0,,None,NaN,0.00,0.00,One-on-one,English
2264,4,[33158],2020-01-02,"[{'id': 23321, 'branch_id': 4, 'customer_id': ...",[],35805,1,ученица не смогла пройти урок из-за всплывающе...,None,3,...,35805,5.0,0,,None,NaN,0.00,0.00,One-on-one,Russian
2266,4,[26350],2020-01-02,"[{'id': 23324, 'branch_id': 4, 'customer_id': ...",[],35557,1,Учитель не подключался.,None,3,...,35557,11.0,0,,None,NaN,0.00,0.00,One-on-one,English
2267,4,[34954],2020-01-02,"[{'id': 23328, 'branch_id': 4, 'customer_id': ...",[],35307,1,Проинформировал об отмене 19.30,None,3,...,35307,7.0,0,,None,NaN,817.27,817.27,One-on-one,English
2268,4,[25602],2020-01-02,"[{'id': 23325, 'branch_id': 4, 'customer_id': ...",[],34960,1,,None,3,...,34960,11.0,0,,None,NaN,0.00,0.00,One-on-one,English
2269,4,[30124],2020-01-01,"[{'id': 23320, 'branch_id': 4, 'customer_id': ...",[],35821,1,,None,3,...,35821,11.0,0,,None,NaN,0.00,0.00,One-on-one,English
2270,4,[6350],2020-01-01,"[{'id': 23319, 'branch_id': 4, 'customer_id': ...",[],35820,1,ученица не выходила на урок,None,3,...,35820,7.0,0,,None,NaN,899.00,899.00,One-on-one,English

In [333]:
select.groupby(by='date-month')['is_attend'].count()

date-month
2020-01    1247
2020-02    1024
Name: is_attend, dtype: int64

In [334]:
# Do Not count on 'is_attend'. Consider filtering based on price (since it is real revenue).
select.groupby(by='subject_id')['is_attend'].count()

subject_id
1    1904
2     213
3     154
Name: is_attend, dtype: int64

In [335]:
select.groupby(by='subject_id')['price'].sum()

subject_id
1    1376833.15
2     162323.10
3     120843.55
Name: price, dtype: float64

In [336]:
out = select.groupby(by='subject_id')['price'].sum()

In [337]:
print(out)

subject_id
1    1376833.15
2     162323.10
3     120843.55
Name: price, dtype: float64

In [339]:
# select.to_excel('/Users/yvsmirn5/Desktop/output.xls')
# select.to_excel('/Users/stellarnode/Desktop/output.xls')

In [340]:
select

,branch_id,customer_ids,date,details,group_ids,id,lesson_type_id,note,room_id,status,...,lesson_id,reason_id,is_attend,grade,bonus,ctt_id,commission,price,LESSON TYPE,SUBJECT
0,4,[26564],2020-02-21,"[{'id': 26557, 'branch_id': 4, 'customer_id': ...",[],40811,1,не вышла,None,3,...,40811,7.0,0,,None,NaN,849.50,849.50,One-on-one,English
1,4,[31427],2020-02-21,"[{'id': 26554, 'branch_id': 4, 'customer_id': ...",[],40803,1,проблема с интернетом,None,3,...,40803,8.0,0,,None,NaN,899.00,899.00,One-on-one,English
2,4,[34781],2020-02-21,"[{'id': 26540, 'branch_id': 4, 'customer_id': ...",[],40773,1,Оименил за 20 мин до урока,None,3,...,40773,7.0,0,,None,NaN,780.00,780.00,One-on-one,English
3,4,[19303],2020-02-21,"[{'id': 26539, 'branch_id': 4, 'customer_id': ...",[],40764,1,написала в ВА в 3:15,None,3,...,40764,5.0,0,,None,NaN,0.00,0.00,One-on-one,English
4,4,[37459],2020-02-21,"[{'id': 26552, 'branch_id': 4, 'customer_id': ...",[],40677,1,,None,3,...,40677,NaN,1,,None,NaN,0.00,0.00,One-on-one,English
5,4,[24409],2020-02-21,"[{'id': 26543, 'branch_id': 4, 'customer_id': ...",[],38309,1,,None,3,...,38309,5.0,0,,None,NaN,0.00,0.00,One-on-one,English
6,4,[26387],2020-02-20,"[{'id': 26538, 'branch_id': 4, 'customer_id': ...",[],40763,1,,None,3,...,40763,NaN,1,,None,NaN,750.00,750.00,One-on-one,English
7,4,[36404],2020-02-20,"[{'id': 26537, 'branch_id': 4, 'customer_id': ...",[],40762,1,,None,3,...,40762,NaN,1,,None,NaN,998.00,998.00,One-on-one,English
8,4,[21506],2020-02-20,"[{'id': 26536, 'branch_id': 4, 'customer_id': ...",[],40761,1,,None,3,...,40761,NaN,1,,None,NaN,899.00,899.00,One-on-one,English
9,4,[35779],2020-02-20,"[{'id': 26535, 'branch_id': 4, 'customer_id': ...",[],40760,1,,None,3,...,40760,NaN,1,,None,NaN,750.00,750.00,One-on-one,English
10,4,[37570],2020-02-20,"[{'id': 26534, 'branch_id': 4, 'customer_id': ...",[],40759,1,,None,3,...,40759,NaN,1,,None,NaN,0.00,0.00,One-on-one,English
11,4,[29697],2020-02-20,"[{'id': 26533, 'branch_id': 4, 'customer_id': ...",[],40758,1,,None,3,...,40758,NaN,1,,None,NaN,998.00,998.00,One-on-one,Math
12,4,[18953],2020-02-20,"[{'id': 26532, 'branch_id': 4, 'customer_id': ...",[],40757,1,,None,3,...,40757,NaN,1,,None,NaN,750.00,750.00,One-on-one,English
13,4,[37460],2020-02-20,"[{'id': 26531, 'branch_id': 4, 'customer_id': ...",[],40756,1,,None,3,...,40756,NaN,1,,None,NaN,831.66,831.66,One-on-one,English
14,4,[36910],2020-02-20,"[{'id': 26530, 'branch_id': 4, 'customer_id': ...",[],40755,1,,None,3,...,40755,NaN,1,,None,NaN,680.00,680.00,One-on-one,English
15,4,[15629],2020-02-20,"[{'id': 26529, 'branch_id': 4, 'customer_id': ...",[],40754,1,,None,3,...,40754,NaN,1,,None,NaN,849.50,849.50,One-on-one,English
16,4,[32899],2020-02-20,"[{'id': 26528, 'branch_id': 4, 'customer_id': ...",[],40753,1,,None,3,...,40753,NaN,1,,None,NaN,738.69,738.69,One-on-one,English
17,4,[24281],2020-02-20,"[{'id': 26527, 'branch_id': 4, 'customer_id': ...",[],40752,1,,None,3,...,40752,NaN,1,,None,NaN,899.00,899.00,One-on-one,English
18,4,[36361],2020-02-20,"[{'id': 26526, 'branch_id': 4, 'customer_id': ...",[],40751,1,,None,3,...,40751,NaN,1,,None,NaN,772.27,772.27,One-on-one,English
19,4,[32138],2020-02-20,"[{'id': 26525, 'branch_id': 4, 'customer_id': ...",[],40750,1,,None,3,...,40750,NaN,1,,None,NaN,750.00,750.00,One-on-one,English
20,4,[30307],2020-02-20,"[{'id': 26524, 'branch_id': 4, 'customer_id': ...",[],40749,1,,None,3,...,40749,NaN,1,,None,NaN,849.50,849.50,One-on-one,Russian
21,4,[22967],2020-02-20,"[{'id': 26523, 'branch_id': 4, 'customer_id': ...",[],40748,1,,None,3,...,40748,NaN,1,,None,NaN,559.75,559.75,One-on-one,English
22,4,[19013],2020-02-20,"[{'id': 26522, 'branch_id': 4, 'customer_id': ...",[],40747,1,Тех проблемы.,None,3,...,40747,10.0,0,,None,NaN,0.00,0.00,One-on-one,English
23,4,[24367],2020-02-20,"[{'id': 26521, 'branch_id': 4, 'customer_id': ...",[],40746,1,,None,3,...,40746,NaN,1,,None,NaN,998.00,998.00,One-on-one,Russian
24,4,[32782],2020-02-20,"[{'id': 26520, 'branch_id': 4, 'customer_id': ...",[],40745,1,,None,3,...,40745,NaN,1,,None,NaN,700.00,700.00,One-on-one,English
25,4,[18523],2020-02-20,"[{'id': 26519, 'branch_id': 4, 'customer_id': ...",[],40744,1,,None,3,...,40744,NaN,1,,None,NaN,515.00,515.00,One-on-one,English
26,4,[18960],2020-02-20,"[{'id': 26518, 'branch_id': 4, 'customer_id': ...",[],40743,1,,None,3,...,40743,NaN,1,,None,NaN,515.00,515.00,One-on-one,English
27,4,[36730],2020-02-20,"[{'id': 26517, 'branch_id': 4, 'customer_id': ...",[],40742,1,,None,3,...,40742,NaN,1,,None,NaN,831.66,831.66,One-on-one,English
28,4,[37219],2020-02-20,"[{'id': 26516, 'branch_id': 4, 'customer_id': ...",[],40741,1,,None,3,...,40741,NaN,1,,None,NaN,998.00,998.00,One-on-one,Russian
29,4,[31536],2020-02-20,"[{'id': 26515, 'branch_id': 4, 'customer_id': ...",[],40740,1,,None,3,...,40740,NaN,1,,None,NaN,750.00,750.00,One-on-one,Russian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2241,4,[21107],2020-01-04,"[{'id': 23365, 'branch_id': 4, 'customer_id': ...",[],35927,1,,None,3,...,35927,NaN,1,,None,NaN,998.00,998.00,One-on-one,Math
2242,4,[197],2020-01-04,"[{'id': 23364, 'branch_id': 4, 'customer_id': ...",[],35926,1,,None,3,...,35926,NaN,1,,None,NaN,750.00,750.00,One-on-one,English
2243,4,[32449],2020-01-04,"[{'id': 23363, 'branch_id': 4, 'customer_id': ...",[],35925,1,,None,3,...,35925,NaN,1,,None,NaN,749.16,749.16,One-on-one,English
2244,4,[33565],2020-01-04,"[{'id': 23362, 'branch_id': 4, 'customer_id': ...",[],35924,1,,None,3,...,35924,NaN,1,,None,NaN,998.00,998.00,One-on-one,English
2245,4,[33896],2020-01-04,"[{'id': 23353, 'branch_id': 4, 'customer_id': ...",[],35920,1,"Не вышла, без предварительного уведомления",None,3,...,35920,7.0,0,,None,NaN,998.00,998.00,One-on-one,English
2246,4,[28293],2020-01-04,"[{'id': 23352, 'branch_id': 4, 'customer_id': ...",[],35917,1,,None,3,...,35917,7.0,0,,None,NaN,899.00,899.00,One-on-one,Math
2247,4,[35320],2020-01-04,"[{'id': 23358, 'branch_id': 4, 'customer_id': ...",[],35863,1,,None,3,...,35863,NaN,1,,None,NaN,998.00,998.00,One-on-one,English
2248,4,[29958],2020-01-04,"[{'id': 23357, 'branch_id': 4, 'customer_id': ...",[],35844,1,,None,3,...,35844,NaN,1,,None,NaN,749.77,749.77,One-on-one,Math
2249,4,[26350],2020-01-04,"[{'id': 23360, 'branch_id': 4, 'customer_id': ...",[],35558,1,,None,3,...,35558,NaN,1,,None,NaN,750.00,750.00,One-on-one,English
2250,4,[34954],2020-01-04,"[{'id': 23361, 'branch_id': 4, 'customer_id': ...",[],35308,1,,None,3,...,35308,NaN,1,,None,NaN,817.27,817.27,One-on-one,English
2251,4,[30739],2020-01-04,"[{'id': 23359, 'branch_id': 4, 'customer_id': ...",[],35282,1,,None,3,...,35282,NaN,1,,None,NaN,750.00,750.00,One-on-one,English
2252,4,[27419],2020-01-03,"[{'id': 23346, 'branch_id': 4, 'customer_id': ...",[],35900,1,,None,3,...,35900,NaN,1,,None,NaN,785.47,785.47,One-on-one,English
2253,4,[10350],2020-01-03,"[{'id': 23342, 'branch_id': 4, 'customer_id': ...",[],35865,1,ЭТОТ УРОК БЫЛ ПРОВЕДЕН,None,3,...,35865,5.0,0,,None,NaN,0.00,0.00,One-on-one,English
2254,4,[12741],2020-01-03,"[{'id': 23345, 'branch_id': 4, 'customer_id': ...",[],35823,1,,None,3,...,35823,NaN,1,,None,NaN,899.00,899.00,One-on-one,English
2255,4,[32278],2020-01-03,"[{'id': 23343, 'branch_id': 4, 'customer_id': ...",[],35413,1,,None,3,...,35413,NaN,1,,None,NaN,738.69,738.69,One-on-one,English
2256,4,[32774],2020-01-03,"[{'id': 23344, 'branch_id': 4, 'customer_id': ...",[],34749,1,,None,3,...,34749,NaN,1,,None,NaN,749.16,749.16,One-on-one,English
2257,4,[26387],2020-01-02,"[{'id': 23336, 'branch_id': 4, 'customer_id': ...",[],35873,1,системная ошибка на платформе,None,3,...,35873,10.0,0,,None,NaN,0.00,0.00,One-on-one,English
2258,4,[25610],2020-01-02,"[{'id': 23335, 'branch_id': 4, 'customer_id': ...",[],35872,1,,None,3,...,35872,NaN,1,,None,NaN,849.50,849.50,One-on-one,English
2259,4,[24367],2020-01-02,"[{'id': 23334, 'branch_id': 4, 'customer_id': ...",[],35871,1,,None,3,...,35871,NaN,1,,None,NaN,772.27,772.27,One-on-one,Russian
2260,4,[31536],2020-01-02,"[{'id': 23333, 'branch_id': 4, 'customer_id': ...",[],35870,1,,None,3,...,35870,NaN,1,,None,NaN,750.00,750.00,One-on-one,Russian
2261,4,[29664],2020-01-02,"[{'id': 23332, 'branch_id': 4, 'customer_id': ...",[],35869,1,,None,3,...,35869,NaN,1,,None,NaN,998.00,998.00,One-on-one,English
2262,4,[34608],2020-01-02,"[{'id': 23330, 'branch_id': 4, 'customer_id': ...",[],35867,1,,None,3,...,35867,NaN,1,,None,NaN,772.27,772.27,One-on-one,English
2263,4,[35632],2020-01-02,"[{'id': 23327, 'branch_id': 4, 'customer_id': ...",[],35832,1,,None,3,...,35832,11.0,0,,None,NaN,0.00,0.00,One-on-one,English
2264,4,[33158],2020-01-02,"[{'id': 23321, 'branch_id': 4, 'customer_id': ...",[],35805,1,ученица не смогла пройти урок из-за всплывающе...,None,3,...,35805,5.0,0,,None,NaN,0.00,0.00,One-on-one,Russian
2265,4,[33752],2020-01-02,"[{'id': 23329, 'branch_id': 4, 'customer_id': ...",[],35693,1,,None,3,...,35693,NaN,1,,None,NaN,780.00,780.00,One-on-one,English
2266,4,[26350],2020-01-02,"[{'id': 23324, 'branch_id': 4, 'customer_id': ...",[],35557,1,Учитель не подключался.,None,3,...,35557,11.0,0,,None,NaN,0.00,0.00,One-on-one,English
2267,4,[34954],2020-01-02,"[{'id': 23328, 'branch_id': 4, 'customer_id': ...",[],35307,1,Проинформировал об отмене 19.30,None,3,...,35307,7.0,0,,None,NaN,817.27,817.27,One-on-one,English
2268,4,[25602],2020-01-02,"[{'id': 23325, 'branch_id': 4, 'customer_id': ...",[],34960,1,,None,3,...,34960,11.0,0,,None,NaN,0.00,0.00,One-on-one,English
2269,4,[30124],2020-01-01,"[{'id': 23320, 'branch_id': 4, 'customer_id': ...",[],35821,1,,None,3,...,35821,11.0,0,,None,NaN,0.00,0.00,One-on-one,English
2270,4,[6350],2020-01-01,"[{'id': 23319, 'branch_id': 4, 'customer_id': ...",[],35820,1,ученица не выходила на урок,None,3,...,35820,7.0,0,,None,NaN,899.00,899.00,One-on-one,English

In [342]:
table = pd.pivot_table(select[select['date-month'] == '2020-01'], values = 'price', index = 'SUBJECT', columns = 'LESSON TYPE', aggfunc = np.sum)
table

LESSON TYPE  Free of Charge  Group  One-on-one
SUBJECT
English                 0.0    0.0   744741.26
Math                    0.0    NaN    92403.87
Russian                 NaN    NaN    61251.72

In [351]:
table = pd.pivot_table(select[(select['date-month'] == '2020-01') & (select['price'] > 0)], values = 'lesson_id', index = 'SUBJECT', columns = 'LESSON TYPE', aggfunc = len)
table

LESSON TYPE  One-on-one
SUBJECT
English             945
Math                109
Russian              72

In [357]:
table = pd.pivot_table(select[(select['date-month'] == '2020-01') & ((select['price'] > 0) | (select['is_attend'] == 1))], values = 'lesson_id', index = 'SUBJECT', columns = 'LESSON TYPE', aggfunc = len)
table

LESSON TYPE  Free of Charge  Group  One-on-one
SUBJECT
English                11.0    8.0       946.0
Math                    2.0    NaN       109.0
Russian                 NaN    NaN        72.0

In [358]:
table = pd.pivot_table(select[(select['date-month'] == '2020-01') & ((select['price'] == 0) & (select['is_attend'] == 1))], values = 'lesson_id', index = 'SUBJECT', columns = 'LESSON TYPE', aggfunc = len)
table

LESSON TYPE  Free of Charge  Group  One-on-one
SUBJECT
English                11.0    8.0         1.0
Math                    2.0    NaN         NaN

In [78]:
# test
hello = {}

In [79]:
hello['yes'] = 1

In [80]:
hello

{'yes': 1}